.card-columns
    //card1
    .card
        .card-img-top
            img.img-fluid(src='assets/img/products/product-01.jpg', alt='Card image cap')
        .card-body
            h4.card-title Chiara Ferragni wears a dress by Dodo Bar Or and black boots by R13
            ul.card-tags
                li
                    a(href='#') Justin Timberlake
                li
                    a(href='#') adidas
                li
                    a(href='#') Sneakers
                li
                    a(href='#') Casual
                li
                    a(href='#') White
        .card-footer
            a.likes(href='#')
                +icon('like')
                span 0
            +card-socials
    //card2
    .card
        .card-img-top
            img.img-fluid(src='assets/img/products/product-02.jpg', alt='Card image cap')
        .card-body
            ul.card-previews
                li
                    a(href='#')
                        img(src='assets/img/products/product-02-80-80.jpg')
            h4.card-title Chiara Ferragni wears a dress by Dodo Bar Or and black boots by R13
            h4.card-title.celebrity-title See also:
            +celebrities(3)
        .card-footer
            a.likes(href='#')
                +icon('like')
                span 0
            +card-socials
    //card3
    .card
        .card-img-top
            img.img-fluid(src='assets/img/products/product-03.jpg', alt='Card image cap')
        .card-body
            ul.card-previews
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.jpg')
                li
                    a(href='#')
                        img(src='assets/img/products/product-02-80-80.jpg')
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.jpg')
            h4.card-title Chiara Ferragni wears a dress by Dodo Bar Or and black boots by R13
            ul.card-tags
                li
                    a(href='#') Justin Timberlake
                li
                    a(href='#') adidas
                li
                    a(href='#') Sneakers
                li
                    a(href='#') Casual
                li
                    a(href='#') White
        .card-footer
            a.likes(href='#')
                +icon('like')
                span 0
            +card-socials

    //card4
    .card
        .card-img-top
            img.img-fluid(src='assets/img/products/product-04.png', alt='Card image cap')
        .card-body
            ul.card-previews
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.jpg')
                li
                    a(href='#')
                        img(src='assets/img/products/product-02-80-80.jpg')
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.jpg')
            h4.card-title Chiara Ferragni wears a dress by Dodo Bar Or and black boots by R13
            ul.card-tags
                li
                    a(href='#') Justin Timberlake
                li
                    a(href='#') adidas
                li
                    a(href='#') Sneakers
                li
                    a(href='#') Casual
                li
                    a(href='#') White
        .card-footer
            a.likes(href='#')
                +icon('like')
                span 0
            +card-socials

    //card5
    .card
        .card-img-top
            img.img-fluid(src='assets/img/products/product-01.jpg', alt='Card image cap')
        .card-body
            h4.card-title Chiara Ferragni wears a dress by Dodo Bar Or and black boots by R13
            ul.card-tags
                li
                    a(href='#') Justin Timberlake
                li
                    a(href='#') adidas
                li
                    a(href='#') Sneakers
                li
                    a(href='#') Casual
                li
                    a(href='#') White
            h4.card-title.celebrity-title See also:
            +celebrities(3)
        .card-footer
            a.likes(href='#')
                +icon('like')
                span 0
            +card-socials

    //card6
    .card
        .card-img-top
            img.img-fluid(src='assets/img/products/product-03.jpg', alt='Card image cap')
        .card-body
            ul.card-previews
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.jpg')
                li
                    a(href='#')
                        img(src='assets/img/products/product-02-80-80.jpg')
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.jpg')
            h4.card-title Chiara Ferragni wears a dress by Dodo Bar Or and black boots by R13

            ul.card-tags
                li
                    a(href='#') Justin Timberlake
                li
                    a(href='#') adidas
                li
                    a(href='#') Sneakers
                li
                    a(href='#') Casual
                li
                    a(href='#') White
            h4.card-title See also:
            +celebrities(3)
        .card-footer
            a.likes(href='#')
                +icon('like')
                span 0
            +card-socials

    //card7
    .card
        .card-img-top
            img.img-fluid(src='assets/img/products/product-02.jpg', alt='Card image cap')
        .card-body
            h4.card-title Chiara Ferragni wears a dress by Dodo Bar Or and black boots by R13
            ul.card-tags
                li
                    a(href='#') Justin Timberlake
                li
                    a(href='#') adidas
                li
                    a(href='#') Sneakers
                li
                    a(href='#') Casual
                li
                    a(href='#') White
        .card-footer
            a.likes(href='#')
                +icon('like')
                span 0
            +card-socials
    //card8-text
    .card.card-text
        .card-body
            +card-text
    //card9
    .card
        .card-img-top
            img.img-fluid(src='assets/img/products/product-04.png', alt='Card image cap')
        .card-body
            ul.card-previews
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.jpg')
                li
                    a(href='#')
                        img(src='assets/img/products/product-02-80-80.jpg')
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.jpg')
            h4.card-title Chiara Ferragni wears a dress by Dodo Bar Or and black boots by R13
            ul.card-tags
                li
                    a(href='#') Justin Timberlake
                li
                    a(href='#') adidas
                li
                    a(href='#') Sneakers
                li
                    a(href='#') Casual
                li
                    a(href='#') White
        .card-footer
            a.likes(href='#')
                +icon('like')
                span 0
            +card-socials