.card-columns
    .card
        img.card-img-top.img-fluid(src='assets/img/products/product-01.jpg', alt='Card image cap')
        .card-body
            h4.card-title card-title
            p.card-text card-text
            a.btn.btn-primary(href='#') btn-primary

