.card-columns
    .card
        img.card-img-top.img-fluid(src='https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-top', alt='Card image cap')
        .card-body
            h4.card-title .card-title
            p.card-text .card-text
            a.btn.btn-primary(href='#') .btn-primary
    .card.p-3.card-outline-primary
        blockquote.card-block.card-blockquote
            | .card-block .card-blockquote
            footer
                small.text-muted
                    | .text-muted
    .card.text-center
        .card-header
            | Featured
        .card-body
            h4.card-title .card-title
            p.card-text .card-text
            a.btn.btn-primary(href='#') .btn-primary
        .card-footer.text-muted
            | 2 days ago
    .card
        .card-header
            | Quote
        .card-body
            blockquote.card-blockquote
                | .card-blockquote
                footer
                    | Someone famous in
                    cite(title='Source Title') Source Title
    .card
        ul.list-group.list-group-flush
            li.list-group-item .list-group-item
            li.list-group-item .list-group-item
            li.list-group-item .list-group-item
    .card
        .card-body
            h4.card-title .card-title
            p.card-text .card-text
        img.card-img-bottom.img-fluid(src='https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img-bottom', alt='Card image cap')
    .card.card-inverse
        a(href='')
            img.card-img.img-fluid(src='https://bootstrapcreative.com/wp-bc/wp-content/uploads/2017/02/project-files-zip.jpg', alt='Card image')
            .card-img-overlay
                h4.card-title .card-title
    .card.card-inverse(style='background-color: #333; border-color: #333;')
        .card-body
            h3.card-title .card-title
            p.card-text .card-text
            a.btn.btn-primary(href='#') .btn-primary
    .card.text-center.bg-faded
        .card-header
            ul.nav.nav-tabs.card-header-tabs
                li.nav-item
                    a.nav-link.active(href='#tab1', data-toggle='tab')
                        | .nav-link
                        span.badge.badge-default 1
                li.nav-item
                    a.nav-link(href='#tab2', data-toggle='tab')
                        | .nav-link
                        span.badge.badge-default 2
        .card-body
            .tab-content
                #tab1.tab-pane.active(role='tabpanel')
                    h4.card-title
                        | .card-title
                        span.badge.badge-default 1
                #tab2.tab-pane(role='tabpanel')
                    h4.card-title
                        | .card-title
                        span.badge.badge-default 2
    .card.card-inverse.card-primary.p-3.text-center
        blockquote.card-blockquote
            | .card-blockquote
            footer
                small
                    | Someone famous in
                    cite(title='Source Title') Source Title
    .card.text-center
        .card-body
            h4.card-title .card-title
            p.card-text .card-text
    .card
        img.card-img.img-fluid(src='https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text=.card-img', alt='Card image')
    .card.p-3.text-right
        blockquote.card-blockquote
            | .card-blockquote
            footer
                small.text-muted
                    | .text-muted
    .card
        .card-body
            h4.card-title .card-title
            p.card-text .card-text
