.card-columns
    .card
        img.card-img-top.img-fluid(src='assets/img/products/product-01.jpg', alt='Card image cap')
        .card-body
            ul.card-previews
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.png')
                li
                    a(href='#')
                        img(src='assets/img/products/product-02-80-80.jpg')
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.png')
            h4.card-title Chiara Ferragni wears a dress by Dodo Bar Or and black boots by R13
            ul.card-tags
                li
                    a(href='#') Justin Timberlake
                li
                    a(href='#') adidas
                li
                    a(href='#') Sneakers
                li
                    a(href='#') Casual
                li
                    a(href='#') White
        .card-footer
            a.likes(href='#')
                +icon('like')
                span 0
            +card-socials
    .card
        img.card-img-top.img-fluid(src='assets/img/products/product-02.jpg', alt='Card image cap')
        .card-body
            ul.card-previews
                li
                    a(href='#')
                        img(src='assets/img/products/product-02-80-80.jpg')
            h4.card-title Chiara Ferragni wears a dress by Dodo Bar Or and black boots by R13
            ul.card-tags
                li
                    a(href='#') Justin Timberlake
                li
                    a(href='#') adidas
                li
                    a(href='#') Sneakers
        .card-footer
            a.likes(href='#')
                +icon('like')
                span 0
            +card-socials
    .card
        img.card-img-top.img-fluid(src='assets/img/products/product-03.jpg', alt='Card image cap')
        .card-body
            ul.card-previews
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.png')
                li
                    a(href='#')
                        img(src='assets/img/products/product-02-80-80.jpg')
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.png')
            h4.card-title Chiara Ferragni wears a dress by Dodo Bar Or and black boots by R13
            ul.card-tags
                li
                    a(href='#') Justin Timberlake
                li
                    a(href='#') adidas
                li
                    a(href='#') Sneakers
                li
                    a(href='#') Casual
                li
                    a(href='#') White
        .card-footer
            a.likes(href='#')
                +icon('like')
                span 0
            +card-socials
    .card
        img.card-img-top.img-fluid(src='assets/img/products/product-04.png', alt='Card image cap')
        .card-body
            ul.card-previews
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.png')
                li
                    a(href='#')
                        img(src='assets/img/products/product-02-80-80.jpg')
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.png')
            h4.card-title Chiara Ferragni wears a dress by Dodo Bar Or and black boots by R13
            ul.card-tags
                li
                    a(href='#') Justin Timberlake
                li
                    a(href='#') adidas
                li
                    a(href='#') Sneakers
                li
                    a(href='#') Casual
                li
                    a(href='#') White
        .card-footer
            a.likes(href='#')
                +icon('like')
                span 0
            +card-socials
    .card
        img.card-img-top.img-fluid(src='assets/img/products/product-01.jpg', alt='Card image cap')
        .card-body
            ul.card-previews
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.png')
                li
                    a(href='#')
                        img(src='assets/img/products/product-02-80-80.jpg')
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.png')
            h4.card-title Chiara Ferragni wears a dress by Dodo Bar Or and black boots by R13
            ul.card-tags
                li
                    a(href='#') Justin Timberlake
                li
                    a(href='#') adidas
                li
                    a(href='#') Sneakers
                li
                    a(href='#') Casual
                li
                    a(href='#') White
        .card-footer
            a.likes(href='#')
                +icon('like')
                span 0
            +card-socials
    .card
        img.card-img-top.img-fluid(src='assets/img/products/product-03.jpg', alt='Card image cap')
        .card-body
            ul.card-previews
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.png')
                li
                    a(href='#')
                        img(src='assets/img/products/product-02-80-80.jpg')
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.png')
            h4.card-title Chiara Ferragni wears a dress by Dodo Bar Or and black boots by R13
            ul.card-tags
                li
                    a(href='#') Justin Timberlake
                li
                    a(href='#') adidas
                li
                    a(href='#') Sneakers
                li
                    a(href='#') Casual
                li
                    a(href='#') White
        .card-footer
            a.likes(href='#')
                +icon('like')
                span 0
            +card-socials
    .card
        img.card-img-top.img-fluid(src='assets/img/products/product-02.jpg', alt='Card image cap')
        .card-body
            ul.card-previews
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.png')
                li
                    a(href='#')
                        img(src='assets/img/products/product-02-80-80.jpg')
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.png')
            h4.card-title Chiara Ferragni wears a dress by Dodo Bar Or and black boots by R13
            ul.card-tags
                li
                    a(href='#') Justin Timberlake
                li
                    a(href='#') adidas
                li
                    a(href='#') Sneakers
                li
                    a(href='#') Casual
                li
                    a(href='#') White
        .card-footer
            a.likes(href='#')
                +icon('like')
                span 0
            +card-socials
    .card
        img.card-img-top.img-fluid(src='assets/img/products/product-04.png', alt='Card image cap')
        .card-body
            ul.card-previews
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.png')
                li
                    a(href='#')
                        img(src='assets/img/products/product-02-80-80.jpg')
                li
                    a(href='#')
                        img(src='assets/img/products/product-01-80-80.png')
            h4.card-title Chiara Ferragni wears a dress by Dodo Bar Or and black boots by R13
            ul.card-tags
                li
                    a(href='#') Justin Timberlake
                li
                    a(href='#') adidas
                li
                    a(href='#') Sneakers
                li
                    a(href='#') Casual
                li
                    a(href='#') White
        .card-footer
            a.likes(href='#')
                +icon('like')
                span 0
            +card-socials