.btn{
	font-size: inherit;
	color: #fff;
	line-height: 1;
	height: 40px;
	display: block;
	flex-direction: row;
	font-weight: bold;
	text-decoration: none;
	border-radius: 0;
	text-align: left;
	.fa{
		font-size: 24px;
		margin-right: 10px;
		display: inline-block;
		float: left;
		vertical-align: middle;
	}
	span{
		vertical-align: bottom;
		vertical-align: -webkit-baseline-middle;
	}
	&:focus,
	&:active,
	&:active:focus{
		outline: 0;
		box-shadow: none;
	}
}
.btn-search{
	position: absolute;
	right: 8px;
	background: transparent;
	margin: 0;
	width: 23px;
	height: 23px;
	padding: 0;
	.fa{
		font-size: 21px;
		color: rgba($black, .5);
	}
	&:hover,
	&:focus{
		border: 0;
		outline: 0 !important;
		box-shadow: none;
	}
}
.btn-close{
	border: 0;
	background: transparent;
	&:hover,
	&:focus{
		cursor: pointer;
	}
	.fa{
		margin: 0;
		font-size: 24px;
	}
}
.btn-outline-success{
	color: $success;
	background: $white;
}
.btn-outline-warning{
	color: $warning;
	background: $white;
}
.btn-pink{
	background: $pink;
	&:focus,
	&.focus {
		color: $white;
		background-color: darken($pink, 10%);
	}
	&:hover {
		color: $white;
		background-color: darken($pink, 10%);
	}
	&:active,
	&.active,
	.open > &.dropdown-toggle {
		color: $white;
		background-color: darken($pink, 10%);

		&:hover,
		&:focus,
		&.focus {
			color: $white;
			background-color: darken($pink, 17%);
		}
	}
}
.btn-pink-dark{
	background: $pink-dark;
	&:focus,
	&.focus {
		color: $white;
		background-color: darken($pink-dark, 10%);
	}
	&:hover {
		color: $white;
		background-color: darken($pink-dark, 10%);
	}
	&:active,
	&.active,
	.open > &.dropdown-toggle {
		color: $white;
		background-color: darken($pink-dark, 10%);

		&:hover,
		&:focus,
		&.focus {
			color: $white;
			background-color: darken($pink-dark, 17%);
		}
	}
}