
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
	.card-columns {column-count: 2;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.card-columns {column-count: 4;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1170px) {
	.card-columns {column-count: 4;}
}
.card-columns {
	padding: 2rem 0;
	.card{
		box-shadow: 0 2px 15px 0 rgba(0,0,0,.08);
		transition: box-shadow .4s ease;
		border: none;
		max-width: 284px;
		&:hover{
			box-shadow: 0 2px 20px 0 rgba(0,0,0,.24);
			//cursor: pointer;
		}
		&-title{
			line-height: 1;
		}
		&-body{
			padding: 12px 16px 16px;
		}
		&-previews{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			li > a{
				display: flex;
				width: 32px;
				height: 32px;
				border-radius: 4px;
				overflow: hidden;
				margin-right: 8px;
				background-color: #d7d7d7
			}
		}
		&-tags{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			flex-wrap: wrap;
			li{
				font-size: .65rem;
				a{
					margin-right: .4rem;
					color: $dark;
					line-height: 1;
					border-bottom: 1px solid $primary;
					&:hover{
						text-decoration: none;
						border-bottom: 2px solid $primary;
					}
				}
			}
		}
		&-footer{
			display: flex;
			padding: 0.75rem 1rem 1rem;
			border-top: 1px solid #efefef;
			background: transparent;
			flex-direction: row;
			justify-content: space-between;
		}

	}
	@include media-breakpoint-down(sm){
		padding: 0;
		.card-previews,
		.card-tags{
			display: none;
		}
		.card-title{
			font-size: 1rem;
		}
		.card-footer{
			display: none;
		}
	}
}

