.categories{
	height: 170px;
	width: 100%	;
	@include media-breakpoint-down(sm){
		height: auto;
	}
	&-item{
		margin: 5px;
		padding: 2px;
	}
	&-link{
		display: block;
		position: relative;
		height: 70px;
		border-radius: 4px;
		overflow: hidden;
		background: url('../img/category/category-01.jpg') no-repeat center;
		@include media-breakpoint-down(sm){
			height: 50px;
		}
		span {
			position: absolute;
			bottom: 10px;
			left: 5px;
			color: $white;
			font-size: .875rem;
			text-align: left;
			z-index: 3;
			border-bottom: 1px solid $white;
			@include text-shadow;
		}
		img{
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			z-index: 1;
		}
		&:before{
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
			background: rgba(0,0,0,.2);
			z-index: 2;
		}
	}
	.slick-list{
		position: relative;
		@include media-breakpoint-down(sm){
			overflow: hidden;
			&:before,
			&:after{
				display: none;
			}
		}
		&:before,
		&:after{
			content: "";
			display: block;
			position: absolute;
			width: 80px;
			height: 100%;
			z-index: 50;
			top: 0;
			@include media-breakpoint-down(sm){
				width: 40px;
			}
		}
		&:before{
			left: -5px;
			background: linear-gradient(to left, rgba(255,255,255,0.01) 0%, #fff 60%)
		}
		&:after{
			right: -5px;
			background: linear-gradient(to right, rgba(255,255,255,0.01) 0%, #fff 60%)
		}
	}
	.slick-next,
	.slick-prev{
		width: 30px;
		height: 30px;
		border-radius: 50% !important;
		background: $white !important;
		opacity: 1;
		@include box-shadow;
	}
	.slick-prev:before,
	.slick-next:before{
		font-family: 'FontAwesome';
		color: $gray;
		font-size: 16px;
	}
	.slick-prev{
		left: 25px;
		&:before{
			content: "\f053";
		}
		@include media-breakpoint-down(sm){
			left: 0;
		}
	}
	.slick-next{
		right: 25px;
		&:before{
			content: "\f054";
		}
		@include media-breakpoint-down(sm){
			right: 0;
		}
	}
}