.celebrity{
	&-title{
		color: $gray-600;
		font-family: "Gotham-Book";
		@include media-breakpoint-down(sm){
			margin: 1rem auto;
		}
	}
	h4{
		color: $gray-600;
		font-family: "Gotham-Book";
	}

}


.celebrity-list{
	width: 100%;
	margin: .5rem 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	@include media-breakpoint-down(sm){
		flex-wrap: nowrap;
		overflow: auto;
	}
	.celebrity-item{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		max-width: 90px;
		margin-bottom: .5rem;
		.img-round{
			border-radius: 50%;
			overflow: hidden;
			background: red;
			width: 65px;
			height: 65px;
			margin-bottom: .5rem;
			@include media-breakpoint-down(sm){
				width: 40px;
				height: 40px;
			}
			img{
				width: 100%;
				height: 100%;
				display: block;
			}
		}
		.celebriry-name{
			color: $gray;
			font-size: .8rem;
			text-transform: none;
			text-align: center;
			line-height: 1;
		}
		&:hover{
			.img-round{
				@include box-shadow-hover;
			}
			.celebriry-name{
				text-underline-color: $gray;
			}
		}
	}

}
#content-wrapper{
	@include media-breakpoint-down(lg){
		.celebrity-list{
			justify-content: flex-start;
		}
	}
}