.colorlist{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	width: 100%;
	height: 40px;
	a.color{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		&.dark-blue{background: #033d55;}
		&.blue{background: #1d809e;}
		&.dark-brown{background: #aa4c34;}
		&.brown{background: #cc906a;}
		&.light-brown{background: #edd9ce;}
		&.teal{background: #dcefdd;}
		&.pink{background: #ffb0a4;}
		&.aqua{background: #add5da;}
	}
}