.filterShow{
	position: absolute;
	width: 100px;
	height: 60px;
	bottom: 110px;
	left: -100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border: none;
	z-index: 100;
	border-radius:  1.25rem 0 0 1.25rem;

	@include box-shadow;
	.icon{
		width: 20px;
		height: 20px;
		fill: $primary;
		&-filter{
			display: inline-block;
		}
		&-cancel{
			display: none;
		}
	}
	&:hover{
		cursor: pointer;
		@include box-shadow-hover;
	}
	&:focus{
		outline: none;
	}
}
.filterSidebar{
	display: block;
	position: fixed;
	padding-top: 115px;
	top: 0;
	right: -400px;
	background: $white;
	width: 400px;
	height: 100vh;
	z-index: 50;
	@include box-shadow;
	&.collapse.show{
		right: 0;
		.icon{
			&-filter{
				display: none;
			}
			&-cancel{
				display: inline-block;
			}
		}
	}
	//&:before{
	//	position: absolute;
	//	top: 0;
	//	content: "";
	//	width: 100%;
	//	height: 100%;
	//	background: $red;
	//	margin-left: -50%;
	//	z-index: 20;
	//}
}
.filterSidebar-accordion{
	.card{
		display: flex;
		flex-direction: column;
		border: 0;
		&-header{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			background: none;
			text-transform: uppercase;
			color: $gray;
			border: 0;
			flex-wrap: wrap;
			.btn-link{
				color: $gray;
				font-size: .8rem;
				text-decoration: underline;
				opacity: .6;
			}
		}
	}
	.navbar-form {
		display: flex;
		width: 100%;
		flex-direction: row;
		position: relative;
		background: $gray-50;
		max-height: 40px;
		align-items: center;
		padding: 0 1rem;
		.icon-search{
			display: flex;
			width: 20px;
			height: 20px;
			fill: $gray;
		}
		.form-control{
			border-radius: 0;
			border: none;
			padding: 10px 15px;
			font-weight: 500;
			font-size: .9rem;
			line-height: 20px;
			letter-spacing: .5px;
			background-color: transparent;
			&:focus{
				outline: none;
				text-align: left;
				-moz-outline-radius: 0;
				box-shadow: none;
			}
		}
		.btn-search {
			opacity: 0;
			position: absolute;
			z-index: -1;
		}
	}
}
.celebrity-list{
	width: 100%;
	margin: 1rem 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	.celebrity-item{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		.img-round{
			border-radius: 50%;
			overflow: hidden;
			background: red;
			width: 65px;
			height: 65px;
			img{
				width: 100%;
				height: 100%;
				display: block;
			}
		}
		.celebriry-name{
			color: $gray;
			font-size: .8rem;
			text-transform: none;
		}
		&:hover{
			.img-round{
				@include box-shadow-hover;
			}
			.celebriry-name{
				text-underline-color: $gray;
			}
		}
	}
	.celebrity-item+.celebrity-item{
		margin-left: 30px;
		&:nth-child(4n + 1){
			margin-left: 0;
		}
	}

}

.colorList{
	display: flex;
	flex-direction: row;
	width: 100%;
	a.color{
		display: flex;
		width: 40px;
		height: 40px;
		&.dark-blue{
			background: #033d55;
		}
	}
}