.navbar-form {
	display: flex;
	width: 100%;
	flex-direction: row;
	position: relative;
	background: $gray-50;
	max-height: 40px;
	align-items: center;
	padding: 0 1rem;
	&.mobile-hide{
		@include media-breakpoint-down(sm){
			display: none;
		}
	}
	.form-control{
		border-radius: 0;
		border: none;
		padding: 10px 15px;
		font-weight: 500;
		font-size: .9rem;
		line-height: 20px;
		letter-spacing: .5px;
		background-color: transparent;
		font-family: Gotham-Book;
		&:focus{
			outline: none;
			text-align: left;
			-moz-outline-radius: 0;
			box-shadow: none;
		}
	}
	.btn-search {
		opacity: 0;
		position: absolute;
		z-index: -1;
	}
}