body{
	font-size: 16px;
}
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.mb-20{  margin-bottom: 20px;  }
.mb-40{  margin-bottom: 40px;  }
article{
	width: 100%;
}
.main{
	display: flex;
	flex-direction: column;
}
.lt-20{
	margin-left: -20px;
	margin-top: -20px;
}
.ab_lt-10{
	position: absolute;
	left:-10px;
	top:-10px;
}
.rb-20{
	margin-right: -20px;
	margin-bottom: -20px;
}
.ab_rb-10{
	position: absolute;
	right:-10px;
	bottom:-10px;
}
.ab_r-0_t-15{
	position: absolute;
	right:0;
	top:-15px;
}
.lb-20{
	margin-left: -20px;
	margin-bottom: -20px;
}