body,html{
	font-size: 16px;
}
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.clearfix::after {
	display: block;
	clear: both;
	content: "";
}
.mb-20{  margin-bottom: 20px;  }
.mb-40{  margin-bottom: 40px;  }
article{
	width: 100%;
}
.main{
	display: block;
}
.lt-20{
	margin-left: -20px;
	margin-top: -20px;
}
.ab_lt-10{
	position: absolute;
	left:-10px;
	top:-10px;
}
.ab_rt-plus-10{
	position: absolute;
	right:10px;
	top:10px;
}
.rb-20{
	margin-right: -20px;
	margin-bottom: -20px;
}
.ab_rb-10{
	position: absolute;
	right:-10px;
	bottom:-10px;
}
.ab_r-0_t-15{
	position: absolute;
	right:0;
	top:-15px;
}
.ab-b-0{
	position: absolute;
	bottom: 0;
}
.lb-20{
	margin-left: -20px;
	margin-bottom: -20px;
}
.panel-img-overlay{
	&.ov-primary{  background: rgba($primary, .7) !important;}
	&.ov-success{  background: rgba($success, .7) !important;}
	&.ov-danger{  background: rgba($danger, .7) !important;}
	&.ov-warning{  background: rgba($warning, .7) !important;}
	&.ov-pink{  background: rgba($pink, .7) !important;}
	&.ov-pink-dark{  background: rgba($pink-dark, .7) !important;}
	&.ov-secondary{  background: rgba($secondary, .7) !important;}
	&.ov-info{  background: rgba($info, .7) !important;}
	&.ov-teal{  background: rgba($teal, .7) !important;}
}

.w-10{width: 10%;}
.w-20{width: 20%;}
.w-30{width: 30%;}
.w-40{width: 40%;}
.w-50{width: 50%;}
.w-60{width: 60%;}
.w-70{width: 70%;}
.w-80{width: 80%;}
.w-90{width: 90%;}
.w-100{width: 100%;}

.d-none {  display: none !important;  }
.d-inline {  display: inline !important;  }
.d-inline-block {  display: inline-block !important;  }
.d-block {  display: block !important;  }
.d-table {  display: table !important;  }
.d-table-row {  display: table-row !important;  }
.d-table-cell {  display: table-cell !important;  }
.d-flex {  display: flex !important;  }
.d-inline-flex {  display: inline-flex !important;  }

.float-left {  float: left !important;  }
.float-right {  float: right !important;  }
.float-none {  float: none !important;}