$header-height : 80px;
$header-sm-height : 50px;

.header{
	//height: $header-height;
	width: 100%;
	display: flex;
	box-sizing: border-box;
	position: relative;
	justify-content: center;
	z-index: 150;
	background: $white;
	@include media-breakpoint-down(md){
		.socials{
			display: none;
		}
		.navbar{
			&-nav{
				width: 100%;
			}
			.nav-item{
				margin-right: 0;
			}
		}
	}
	@include media-breakpoint-down(sm){
		border-bottom: 1px solid $gray-300;
		.container-fluid{
			padding: 0;
		}
	}
	&-wrapper{
		width: 100%;
		max-width: 1360px;
		display: flex;
		justify-content: center;
	}
	.navbar {
		display: flex;
		padding: .3rem 0;
		@include media-breakpoint-down(sm){
			//padding: 0;
		}
		&-header{
			display: flex;
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			padding-top: 1.125rem;
			padding-bottom: 0;
			@include media-breakpoint-down(sm){
				//height: $header-sm-height;
				padding-top: 0;
				justify-content: flex-start;
				.btn-primary{
					display: block;
					position: absolute;
					right: 15px;
					top: 5px;
				}
			}
			@include media-breakpoint-down(xs){
				.btn-primary{
					font-size: .8rem;
					top: 10px;
				}
			}
		}
		.navbar-toggler {
			display: none;
			border-color: rgba(0,0,0,.1);
			&:focus{
				outline: none;
				cursor: pointer;
			}
			.icon{
				width: 24px;
				height: 24px;
				fill: $gray;
				&-menu{
					display: block;
				}
				&-cancel{
					display: none;
				}
			}
			@include media-breakpoint-down(sm){
				display: flex;
				margin: .5rem 0 .5rem 1rem;
			}
		}
		&-brand {
			display: flex;
			height: 40px;
			color: $black;
			padding: 0;
			margin-bottom: 1.125rem;
			margin-right: 0;
			.icon-spott{
				height: 40px;
				width: 80px;
			}
			&:hover{
				cursor: pointer;
				text-decoration: none;
			}
			@include media-breakpoint-down(sm){
				margin: 0 0 0 1rem;
			}
		}
		&-form {
			display: flex;
			width: 75%;
			margin-bottom: 1.125rem;
			&.mobile-hide{
				@include media-breakpoint-down(sm){
					display: none;
				}
			}
		}
		.btn-primary{
			margin-bottom: 1.125rem;
			@include media-breakpoint-down(sm){
				margin-bottom: 0;
			}
		}
		.btn-group {
			flex: 1;
			width: 150px;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			button {
				border: none;
			}
			.fa{
				color: $danger;
				font-size: 2.25rem;
				padding: 0;
			}
			@include media-breakpoint-down(sm){
				width: 40px;
			}
		}
		&.nav-link.show-sm{
			display: none;
		}
		&-collapse{
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			border-top: 1px solid #dee2e6;
			border-bottom: 1px solid #dee2e6;
			padding: 0;
			background: $white;
			@include media-breakpoint-down(sm){
				border-top: none;
				position: absolute;
				top: 50px;
			}
			&.show{
				.navbar-nav{
					flex-direction: column;
					justify-content: flex-start;
					padding: 0 1rem;
				}

			}
			&.collapsing{
				position: relative;
				height: 0;
				opacity: 0;
				overflow: hidden;
				transition: height 0.2s ease;
			}
		}

	}

}
