.materials{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		&-item{
			padding: 5px 0;
			width: 32%;
			@include media-breakpoint-down(sm){
				width: 50%;
			}
		}
		&-link{
			display: block;
			position: relative;
			width: 110px;
			height: 50px;
			border-radius: 4px;
			overflow: hidden;
			margin: 0 auto;
			@include media-breakpoint-down(xs){
				width: 100px;
			}
			span {
				position: absolute;
				text-transform: none;
				bottom: 5px;
				left: 5px;
				color: $white;
				font-size: .8rem;
				text-align: left;
				z-index: 3;
				border-bottom: 1px solid $white;
				@include text-shadow;
			}
			img{
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 1;
			}
			&:hover:before{
				position: absolute;
				content: "";
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				display: block;
				background: transparentize($dark, .9);
				z-index: 2;
			}
		}
	}