/* ==========================================================================
	 MENU
	 ===========================================================================*/
nav{
	list-style: none;
	display: flex;
	flex-direction: row;
	position: relative;
	z-index: 100;
	background: $white;
}
.navbar {

	&-nav {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		width: 94%;
		@include media-breakpoint-down(sm){
			width: 100%;
			border-top: 1px solid $gray;
		}
	}
	.nav-link {
		font-family: 'Raleway-Bold';
		color: $gray-600;
		font-size: .9rem;
		&:hover{
			color: $dark;
		}
		&:active,
		&.active{
			color: $primary;
		}
		&.show-sm{
			display: none;
			@include media-breakpoint-down(sm){
				display: flex;
			}
		}
	}
}

/* end menu */