/* ==========================================================================
	 MENU
	 ===========================================================================*/
nav{
	list-style: none;
	display: flex;
	flex-direction: row;
}
.navbar {
	&-nav {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		width: 80%;
	}
	.nav-item {
		margin-right: 1rem;
	}
	.nav-link {
		color: $gray-600;
		font-size: .9rem;
		&:hover,{
			color: $dark;
		}
		&:active,
		&.active{
			color: $primary;
		}
	}
}

/* end menu */