.patterns{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	&-item{
		width: 30%;
	}
	&-link{
		color: $gray;
		font-size: .8rem;
		text-decoration: underline;
		text-transform: none;
	}
}