$sidebar-w: 400px;
$sidebar-sm-w: 60%;

.fixed{
	overflow-y: hidden;
}
#sidebar-wrapper{
	//padding-top: 95px;
	z-index: 100;
	display: block;
	position: fixed;
	right: $sidebar-w;
	width: 0;
	top: 0;
	height: 100%;
	margin-right: - $sidebar-w;
	transition: all .5s ease;
	@include media-breakpoint-down(sm){
		z-index: 200;
		//padding-top: 55px;
		margin-right: - $sidebar-sm-w;
		right: $sidebar-sm-w;
	}
	h3{
		color: $primary;
	}
}
#wrapper{
	position: relative;
	overflow-y: none;
	transition: all .5s ease;
	&.toggled{
		padding-right: $sidebar-w;
		@include media-breakpoint-down(sm){
			padding-right: $sidebar-sm-w;
			.card-columns{
				column-count: 2;
			}
		}
		@include media-breakpoint-down(sm){
			.card-columns{
				column-count: 1;
			}
		}
		#sidebar-wrapper{
			width: $sidebar-w;
			@include media-breakpoint-down(sm){
				width: $sidebar-sm-w;
			}
		}
		#filterShow{
			right: $sidebar-w;
			transition: all .5s ease;
			.icon{
				&-filter{
					display: none;
				}
				&-cancel{
					display: inline-block;
				}
			}
			@include media-breakpoint-down(sm){
				right: $sidebar-sm-w;
			}
		}
	}
}

.sidebar-content{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	&-title{
		height: 150px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		background: $white;
		padding:  0 1.25rem;
		@include media-breakpoint-down(sm){
			height: 50px;
		}
	}
	&:before{
		content: "";
		position: absolute;
		left: -100%;
		//transition: all .5s ease;
		top: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(7,20,35,0) 60%, rgba(0,1,2,0.3) 99%, rgba(0,0,0,0.3) 100%);
	}
	.card{
		border: none;
		&-header{
			background: none;
			border: none;
			h5{
				text-transform: uppercase;
				color: $gray;
				font-size: 1rem;
			}
		}
		&-body{
			border: none;
		}
	}
	.celebrity-list{
		justify-content: space-between;
		.celebrity-item{
			width: 24%;
		}
	}
}