$sidebar-w: 400px;

.fixed{
	overflow-y: hidden;
}
#sidebar-wrapper{
	z-index: 100;
	display: block;
	position: absolute;
	right: $sidebar-w;
	width: 0;
	top: 0;
	height: 100%;
	margin-right: - $sidebar-w;
	//overflow-y: auto;
	background: #000;
	transition: all .5s ease;
}
#wrapper{
	position: relative;
	overflow-y: none;
	&.toggled{
		padding-right: $sidebar-w;
		&:after{
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba($gray, .5);
		}
		#sidebar-wrapper{
			width: $sidebar-w;
		}
		#filterShow{
			position: absolute;
			left: -100px;
			top: 65vh;
			transition: all .5s ease;
			.icon{
				&-filter{
					display: none;
				}
				&-cancel{
					display: inline-block;
				}
			}
			span{
				content: "cancel";
			}
		}
	}
}

.sidebar-content{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}