.style{
	display: block;
	width: 100%;
	height: 100px;
	&-item{
		display: inline-block;
		padding: 5px;
		width: 24%;
	}
	&-link{
		display: block;
		position: relative;
		width: 100%;
		height: 95px;
		border-radius: 4px;
		overflow: hidden;
		span {
			position: absolute;
			text-transform: none;
			bottom: 5px;
			left: 5px;
			color: $white;
			font-size: .8rem;
			text-align: left;
			z-index: 3;
			border-bottom: 1px solid $white;
			@include text-shadow;
		}
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 1;
		}
		&:hover:before{
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
			background: transparentize($dark, .9);
			z-index: 2;
		}
	}
}