.blog-list{
	display: flex;
	width: 100%;
}
.blog{
	display: flex;
	width: 100%;
	&-img{
		//display: flex;
		position: relative;
		width: 100%;
		height: 100%;
		img{
			width: 100%;
		}
	}
	&-text{
		display: flex;
		width: 100%;
		max-height: 80px;
		overflow-y: auto;
		font-size: 0.875rem;
		padding: 0 2rem;
	}
	&-content-list{
		padding-left: 2rem;
		li{
			list-style-type: none;
			font-size: 0.875rem;
			position: relative;
			&:before {
				content: '\2022 ';
				color: $pink;
				position: absolute;
				left: -1rem;
			}
		}
	}
	&-tags{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		.btn{
			margin-right: .5rem;
			border-radius: 0;
			font-size: 0.875rem;
		}
	}
	.card-header, .card-body{
		padding: 1rem;
	}
	.text-muted{
		font-size: 0.875rem;
	}
	.card-body{
		justify-content: flex-start;
		align-items: flex-start;
	}

	.card-footer{
		padding:0 3rem;
	}
	.btn{
		font-size: 14px;
		display: flex;
		max-width: 100px;
	}

}