.brands-slider {
	width: 100%;
	padding: 0 5%;
	margin: 0 auto;
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	@media (max-width: $screen-sm-max) {  padding: 0 40px;  }
	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 23px;
		background-color: #e6e5e5;
		padding: 5px 10px;
		color: $white;
		z-index: 100;
		border: 0;
		&.right {  right: 0;  }
		&.left {  left: 0  }
		&:focus,
		&:hover {
			outline: 0;
			cursor: pointer;
		}
	}
	.slick-list {
		width: 100%;
		display: flex;
		align-items: center;
	}
	.slick-track {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	img {
		display: block;
		width: 100%;
		max-width: 150px;
		height: 100%;
	}
}