.panel-list{
	display: block;
	width: 100%;
	overflow: hidden;
	@media (max-width: $screen-sm-max){
		h1,
		h2,
		h3,
		h4,
		h5{
			overflow: hidden;
			text-overflow: ellipsis;
			width: 50%;
		}
		.panel-title{
			text-align: center;
			width: 100%;
		}
	}
}
.panel{
	border-radius: 0;
	border: 0;
	background-color: $gray;
	min-height: 280px;
	&-header{
		border-bottom: 0;
	}
	&-body{
		display: block;
		text-align: center;
		img{
			display: block;
			min-height: 110px;
			max-height: 110px;
			margin: 0 auto;
		}
	}
	&-header,
	&-body,
	&-footer{
		border: 0;
		background: transparent;
		padding: .75rem;
	}
	.btn{
		color: $white;
		text-transform: capitalize;
		height: 40px;
		text-align: center;
	}
	&-img-overlay{
		display: block;
	}
	&-img-top{
		width: 100%;
	}
}