.category-box {
	min-height: 180px;
	width: 100%;
	display: block;
	margin: 0 auto 20px;
	@media (max-width: $screen-md-min) {
		height: 100%;
		.btn-sm{
			text-align: center;
			margin: 0 auto;
		}
	}
	&__img {
		height: 180px;
		position: relative;
		padding: 0;
		img {
			display: block;
			width: 100%;
			max-width: 300px;
			height: 100%;
		}
		@media (max-width: $screen-sm-max) {
			padding: 1rem;
			height: auto;
			img{
				height: auto;
			}
		}
	}
	.category-box__img-left-top{
		position: absolute;
		left: -1rem;
		top: -1rem;
		@media (max-width: $screen-sm-max) {
			height: auto;
			position: relative;
			left: 0;
			top: 0;
			margin: 0 auto;
		}
	}
	&__info {
		display: block;
		height: 100%;
		min-height: 180px;
		padding: 1rem;
		@media (max-width: $screen-sm-max) {
			min-height: auto;
		}
	}
	&__text {
		display: block;
	}
	&__contact {
		display: block;
		width: 100%;
		height: 180px;
		padding: 1rem 1rem 0 0;
		@media (max-width: $screen-sm-max) {
			padding: 1rem;
			height: auto;
		}
	}
	.panel {
		display: block;
		width: 100%;
		padding: 1rem 0;
		min-height: 180px;
		font-size: 14px;
		align-items: center;
		border-radius: 0;
		margin-bottom: 0;
		.btn {
			background-color: transparent;
			border: 0;
			display: inline-block;
			width: auto;
			min-width: inherit;
			.fa {
				margin-right: 0;
			}

		}
		.btn-group {
			display: block;
			width: 60%;
			height: 100%;
			margin: 0 auto;
			.btn {
				width: 33%;
				.fa {
					float: none;
					display: block;
					margin: 0 auto;
					text-align: center;
				}
			}
		}
		@media (max-width: $screen-sm-min) {
			position: relative;
			margin: 0 auto;
			width: 100%;
			left: 0;
			top: 0;
		}
	}
	.panel-title {
		text-transform: uppercase;
		text-align: center;
	}
	.fa {
		font-size: 1.5rem;
	}
	.icons {
		display: block;
		width: 50%;
	}
	.btn {
		display: block;
		text-align: center;
		@media (max-width: $screen-sm-min) {
			margin: 0 auto;
		}
		span{
			text-overflow: inherit;
			text-align: center;
		}
	}
}