.modal{
	&-dialog{
		min-width: 600px;
		@media (max-width: $screen-sm-max){
			min-width: inherit;
			.panel{
				min-height: inherit;
			}
		}
	}
	&-header{
		border-bottom: 0;
	}
	&-content{
		border: 0;
		border-radius: 0 0 4px 4px;
	}
	&-title{
		display: inline-block;
		float: left;
	}
	.btn-close{
		display: inline-block;
		float: right;
	}
	.card{
		min-height: auto;
	}
}
