<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'Initiatives sur Tournai'
	)
	include mixin/all-mixin
	body.homepage
		.wrapper
			.header-template
				img(src="/assets/img/global/header.jpg")
			section.main
				.container
					article
						.panel-list
							.container-fluid.p-0
								.row.mb-20
									.col-md-12.px-0
										.clearfix.bg-warning.p-3
											h4.d-inline-block.text-white.float-left Réduction des déchets
											.d-inline-block.btn.btn-outline-warning.float-right(role="button") Retour
								.row.mb-20
									.col-md-3.px-0
										.custom-select.mb-3.w-100
											select
												option(selected='') Catégories
												option(value='1') One
												option(value='2') Two
												option(value='3') Three
								.row.mb-40.px-2
									.row.category-box
										.col-md-3.col-xs-12.category-box__img
											img(src='assets/img/ambasad/cat-img-01.jpg').ab_lt-10
										.col-md-6.col-xs-12.category-box__info
											p.category-box__text Lili Bulk, encore une autre épicerie en ligne 100 % bio ? Certes oui, mais
												| elle est unique en son genre, car là où elle se démarque de ses paires, c’est au niveau des
												| emballages. Privilégiant le zéro déchet, la startup livre ses produits en vrac dans des
												| bocaux consignés.
											a(href="#").btn.btn-primary Catégorie
										.col-md-3.col-xs-12.category-box__contact
											.panel.panel-success.bg-success.ab_rt-plus-10
												h5.panel-title.text-white Contact
												.panel-body.p-0
													.d-block.p-2.text-center
														a(href="#").panel-text.text-white.m-auto 0 800 200 32 23
													.d-block.p-2.text-center
														a(href="#").panel-text.text-white.m-auto ili@mail.com
													.d-block.p-2.text-center
														a(href="#").panel-text.text-white.m-auto www.lili-bulk.com
													.btn-group
														a(href="#").btn.btn-default.text-center(type='button')
															i.fa.fa-facebook-square
														a(href="#").btn.btn-default.text-center(type='button')
															i.fa.fa-twitter-square
														a(href="#").btn.btn-default.text-center(type='button')
															i.fa.fa-linkedin-square
								.row.mb-40.px-2
									.row.category-box
										.col-md-3.category-box__img
											img(src='assets/img/ambasad/cat-img-02.jpg').ab_lt-10
										.col-md-6.category-box__info
											p.category-box__text Lili Bulk, encore une autre épicerie en ligne 100 % bio ? Certes oui, mais
												| elle est unique en son genre, car là où elle se démarque de ses paires, c’est au niveau des
												| emballages. Privilégiant le zéro déchet, la startup livre ses produits en vrac dans des
												| bocaux consignés.
											a(href="#").btn.btn-primary Catégorie
										.col-md-3.category-box__contact
											.panel.panel-success.bg-success.ab_rt-plus-10
												h5.panel-title.text-white Contact
												.panel-body.p-0
													.d-block.p-2.text-center
														a(href="#").panel-text.text-white.m-auto 0 800 200 32 23
													.d-block.p-2.text-center
														a(href="#").panel-text.text-white.m-auto ili@mail.com
													.d-block.p-2.text-center
														a(href="#").panel-text.text-white.m-auto www.lili-bulk.com
													.btn-group
														a(href="#").btn.btn-default.text-center(type='button')
															i.fa.fa-facebook-square
														a(href="#").btn.btn-default.text-center(type='button')
															i.fa.fa-twitter-square
														a(href="#").btn.btn-default.text-center(type='button')
															i.fa.fa-linkedin-square

								.row.mb-40.px-2
									.row.category-box
										.col-md-3.category-box__img
											img(src='assets/img/ambasad/cat-img-03.jpg').ab_lt-10
										.col-md-6.category-box__info
											p.category-box__text Lili Bulk, encore une autre épicerie en ligne 100 % bio ? Certes oui, mais
												| elle est unique en son genre, car là où elle se démarque de ses paires, c’est au niveau des
												| emballages. Privilégiant le zéro déchet, la startup livre ses produits en vrac dans des
												| bocaux consignés.
											a(href="#").btn.btn-primary Catégorie
										.col-md-3.category-box__contact
											.panel.panel-success.bg-success.ab_rt-plus-10
												h5.panel-title.text-white Contact
												.panel-body.p-0
													.d-block.p-2.text-center
														a(href="#").panel-text.text-white.m-auto 0 800 200 32 23
													.d-block.p-2.text-center
														a(href="#").panel-text.text-white.m-auto ili@mail.com
													.d-block.p-2.text-center
														a(href="#").panel-text.text-white.m-auto www.lili-bulk.com
													.btn-group
														a(href="#").btn.btn-default.text-center(type='button')
															i.fa.fa-facebook-square
														a(href="#").btn.btn-default.text-center(type='button')
															i.fa.fa-twitter-square
														a(href="#").btn.btn-default.text-center(type='button')
															i.fa.fa-linkedin-square

								.row
									.btn.btn-warning(href="#") See more





