<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'Initiatives sur Tournai'
	)
	include mixin/all-mixin
	body.homepage
		.wrapper
			.header-template
				img(src="/assets/img/global/header.jpg")
			section.main
				.container
					article
						.card-list
							.container-fluid.p-0
								.row.mb-20
									.col-md-12.px-0
										.d-flex.bg-warning.p-2.justify-content-between.align-items-center
											h5.text-white.mb-0 Réduction des déchets
											.btn-group
												.btn.btn-outline-warning(role="button") Retour
								.row.mb-20
									.col-md-3.px-0
										select.custom-select.mb-3
											option(selected='') Catégories
											option(value='1') One
											option(value='2') Two
											option(value='3') Three
								.row.mb-40.px-2
									.category-box
										.col-md-3.category-box__img
											img(src='assets/img/ambasad/cat-img-01.jpg').ab_lt-10
										.col-md-6.category-box__info
											p.category-box__text Lili Bulk, encore une autre épicerie en ligne 100 % bio ? Certes oui, mais
												| elle est unique en son genre, car là où elle se démarque de ses paires, c’est au niveau des
												| emballages. Privilégiant le zéro déchet, la startup livre ses produits en vrac dans des
												| bocaux consignés.
											a(href="#").btn.btn-primary Catégorie
										.col-md-3.d-flex.position-relative
											.text-white.bg-success.card.ab_rb-10
												h5.card-title.text-white Contact
												a(href="#").card-text.text-white 0 800 200 32 23
												a(href="#").card-text.text-white ili@mail.com
													a(href="#").card-text.text-white www.lili-bulk.com
													.icons.justify-content-between.w-50
														a(href="#").text-white.text-white
															i.fa.fa-facebook-square
														a(href="#").text-white.text-white
															i.fa.fa-twitter-square
														a(href="#").text-white.text-white
															i.fa.fa-linkedin-square
								.row.mb-40.px-2
									.category-box
										.col-md-3.category-box__img
											img(src='assets/img/ambasad/cat-img-02.jpg').ab_lt-10
										.col-md-6.category-box__info
											p.category-box__text Lili Bulk, encore une autre épicerie en ligne 100 % bio ? Certes oui, mais
												| elle est unique en son genre, car là où elle se démarque de ses paires, c’est au niveau des
												| emballages. Privilégiant le zéro déchet, la startup livre ses produits en vrac dans des
												| bocaux consignés.
											a(href="#").btn.btn-primary Catégorie
										.col-md-3.d-flex.position-relative
											.text-white.bg-success.card.ab_rb-10
												h5.card-title.text-white Contact
												a(href="#").card-text.text-white 0 800 200 32 23
												a(href="#").card-text.text-white ili@mail.com
													a(href="#").card-text.text-white www.lili-bulk.com
													.icons.justify-content-between.w-50
														a(href="#").text-white.text-white
															i.fa.fa-facebook-square
														a(href="#").text-white.text-white
															i.fa.fa-twitter-square
														a(href="#").text-white.text-white
															i.fa.fa-linkedin-square
								.row.mb-40.px-2
									.category-box
										.col-md-3.category-box__img
											img(src='assets/img/ambasad/cat-img-03.jpg').ab_lt-10
										.col-md-6.category-box__info
											p.category-box__text Lili Bulk, encore une autre épicerie en ligne 100 % bio ? Certes oui, mais
												| elle est unique en son genre, car là où elle se démarque de ses paires, c’est au niveau des
												| emballages. Privilégiant le zéro déchet, la startup livre ses produits en vrac dans des
												| bocaux consignés.
											a(href="#").btn.btn-primary Catégorie
										.col-md-3.d-flex.position-relative
											.text-white.bg-success.card.ab_rb-10
												h5.card-title.text-white Contact
												a(href="#").card-text.text-white 0 800 200 32 23
												a(href="#").card-text.text-white ili@mail.com
													a(href="#").card-text.text-white www.lili-bulk.com
													.icons.justify-content-between.w-50
														a(href="#").text-white.text-white
															i.fa.fa-facebook-square
														a(href="#").text-white.text-white
															i.fa.fa-twitter-square
														a(href="#").text-white.text-white
															i.fa.fa-linkedin-square
								.row
									.btn.btn-warning(href="") See more





