<!DOCTYPE html>
html(lang="en")
	include global/head
	+head('Initiatives sur Tournai')
	include mixin/all-mixin
	body.homepage
		.wrapper
			.header-template
				img(src="/assets/img/global/header.jpg")
			section.main
				.container
					article
						.blog-list
							.container-fluid.p-0
								.row.mb-40
									.col-md-3.pl-0
										form(action='', method='post')#initiv-search.initiv-search
											input.form-control(type='text', size='60', placeholder="Rechercher...")
											button.btn.btn-search(type='submit')
												i.fa.fa-search
									.col-md-9.pr-0
										nav(aria-label='breadcrumb').bread
											ol.breadcrumb.mb-0
												li.breadcrumb-item
													a(href='#') Acceuil
												li.breadcrumb-item.active(aria-current='page') Le blog du développement durable
											.btn.btn-warning(role="button") Retour
								.row.mb-40
									.blog.bg-gray.ml-3
										.row
											.col-md-6.pl-0
												a(href="#").blog-img.ab_r-0_t-15
													img(src='assets/img/blog/blog-01.jpg')
											.col-md-6.pl-0
												.card
													.card-header
														.text-muted 08/02/2018  |  by Smogey
														h2.card-title.text-uppercase BIO ET VRAC, LA CONSOMMATION SELON LILI BULK
													.card-body
														.blog-text
															| Lili Bulk, encore une autre épicerie en ligne 100 % bio ? Certes oui, mais elle est unique en son genre, car là où elle se démarque de ses paires, c’est au niveau des emballages. Privilégiant le zéro déchet, la startup livre ses produits en vrac dans des bocaux consignés...
													.card-footer
														a.btn.btn-primary(href='#') Life
								.row.mb-40
									.col-md-6.pl-0
										.card.bg-dark.text-white
											img.card-img(src='assets/img/blog/blog-02.jpg', alt='Card image')
											.card-img-overlay.ov-warning
												.card-header
													.text-white 08/02/2018  |  by Smogey
												.card-footer
													h2.card-title.text-uppercase LE COMPOSTAGE POUR LES PERSONNES EN APPARTEMENT
													p.card-text Transformer nos déchets culinaires en un engrais 100 % naturel
									.col-md-6.pr-0
										.card.bg-dark.text-white
											img.card-img(src='assets/img/blog/blog-03.jpg', alt='Card image')
											.card-img-overlay.ov-pink
												.card-header
													.text-white 08/02/2018  |  by Smogey
												.card-footer
													h2.card-title.text-uppercase ZÉRO DÉCHET : ÊTES-VOUS PRÊT À RELEVER LE DÉFI?
													p.card-text La consommation est synonyme de déchets...Comment les éviter?

								.row.mb-40
									.blog.bg-gray.mr-3
										.row
											.col-md-6
												.card
													.card-header
														.text-muted 08/02/2018  |  by Smogey
														h2.card-title.text-uppercase EN FINIR AVEC L'OBSOLESCENCE PROGRAMEÉ
													.card-body
														.blog-text
															| Lili Bulk, encore une autre épicerie en ligne 100 % bio ? Certes oui, mais elle est unique en son genre, car là où elle se démarque de ses paires, c’est au niveau des emballages. Privilégiant le zéro déchet, la startup livre ses produits en vrac dans des bocaux consignés...
													.card-footer
														a.btn.btn-success(href='#') Life
											.col-md-6.pr-0
												a(href="#").blog-img.ab_r-0_t-15
													img(src='assets/img/blog/blog-04.jpg')
								.row.mb-40
									.col-md-6.pl-0
										.card.bg-dark.text-white
											img.card-img(src='assets/img/blog/blog-02.jpg', alt='Card image')
											.card-img-overlay.ov-primary
												.card-header
													.text-white 08/02/2018  |  by Smogey
												.card-footer
													h2.card-title.text-uppercase LE COMPOSTAGE POUR LES PERSONNES EN APPARTEMENT
													p.card-text Transformer nos déchets culinaires en un engrais 100 % naturel
									.col-md-6.pr-0
										.card.bg-dark.text-white
											img.card-img(src='assets/img/blog/blog-03.jpg', alt='Card image')
											.card-img-overlay.ov-success
												.card-header
													.text-white 08/02/2018  |  by Smogey
												.card-footer
													h2.card-title.text-uppercase ZÉRO DÉCHET : ÊTES-VOUS PRÊT À RELEVER LE DÉFI?
													p.card-text La consommation est synonyme de déchets...Comment les éviter?
								.row.mb-40
									.blog.bg-gray.ml-3
										.row
											.col-md-6.pl-0
												a(href="#").blog-img.ab_r-0_t-15
													img(src='assets/img/blog/blog-01.jpg')
											.col-md-6.pl-0
												.card
													.card-header
														.text-muted 08/02/2018  |  by Smogey
														h2.card-title.text-uppercase BIO ET VRAC, LA CONSOMMATION SELON LILI
													.card-body
														.blog-text
															| Lili Bulk, encore une autre épicerie en ligne 100 % bio ? Certes oui, mais elle est unique en son genre, car là où elle se démarque de ses paires, c’est au niveau des emballages. Privilégiant le zéro déchet, la startup livre ses produits en vrac dans des bocaux consignés...
													.card-footer
														a.btn.btn-primary(href='#') Life






