<!DOCTYPE html>
html(lang="en")
	include global/head-blog
	+head('Blog')
	include mixin/all-mixin
	body.homepage
		.wrapper
			article.blog-list
				.container.py-3
					.row.mb-lg-6
						.col-md-8.col-md-push-4.mb-sm-3
							nav(aria-label='breadcrumb').bread
								ol.breadcrumb.mb-0
									li.breadcrumb-item
										a(href='#') Acceuil
									li.breadcrumb-item.active(aria-current='page') Le blog du développement durable
								a.btn.btn-warning(role="button", href="index.html")
									span Retour
						.col-md-4.col-md-pull-8.mb-sm-3
							form(action='', method='post')#initiv-search.initiv-search
								input.form-control(type='text', size='60', placeholder="Rechercher dans le blog de l'outil...")
								button.btn.btn-search(type='submit')
									i.fa.fa-search

					.row.mb-3.blog
						.col-xs-12
							.col-md-6.col-sm-12.pr-lg-0.pl-lg-5.p-sm-0
								.panel.bg-gray.p-lg-0.p-sm-3
									.panel-header.p-1.hidden.visible-sm.visible-xs
										.text-muted.mb-sm-1 08/02/2018  |  by Smogey
									a(href="#").blog-img.blog-img-left-top
										img(src='assets/img/blog/blog-01.jpg')
							.col-md-6.col-sm-12.bg-gray
								.panel.py-md-3.pb-sm-3
									.panel-header.p-0.hidden-sm.hidden-xs
										.text-muted.mb-sm-1 08/02/2018  |  by Smogey
									.panel-body.p-0.text-left
										h3.text-uppercase.mt-0 BIO ET VRAC, LA CONSOMMATION SELON LILI BULK
										p.blog-text
											| Lili Bulk, encore une autre épicerie en ligne 100 % bio ? Certes oui, mais elle est unique en son genre, car là où elle se démarque de ses paires, c’est au niveau des emballages. Privilégiant le zéro déchet, la startup livre ses produits en vrac dans des bocaux consignés...
										p.blog-text.pt-3
											a.btn.btn-primary(href='#')
												span Life
					.row.mb-lg-6
						.blog.col-md-6.col-xs-12.mb-3
							.panel.bg-dark.text-white
								img.panel-img(src='assets/img/blog/blog-02.jpg', alt='panel image')
								.panel-img-overlay.ov-warning
									.panel-header
										.text-white 08/02/2018  |  by Smogey
									.panel-footer
										h3.text-uppercase.text-left.mt-0 LE COMPOSTAGE POUR LES PERSONNES EN APPARTEMENT
										p.panel-text.text-left Transformer nos déchets culinaires en un engrais 100 % naturel
									a(href="#").btn-overlay
										span Life
						.blog.col-md-6.col-xs-12.mb-3
							.panel.bg-dark.text-white
								img.panel-img(src='assets/img/blog/blog-03.jpg', alt='panel image')
								.panel-img-overlay.ov-pink
									.panel-header
										.text-white 08/02/2018  |  by Smogey
									.panel-footer
										h3.text-uppercase ZÉRO DÉCHET : ÊTES-VOUS PRÊT À RELEVER LE DÉFI?
										p.panel-text La consommation est synonyme de déchets...Comment les éviter?
									a(href="#").btn-overlay
										span Life

					.row.mb-3.blog
						.col-xs-12
							.col-md-6.col-md-push-6.col-sm-12.pl-lg-0.pr-lg-5.p-sm-0
								.panel.bg-gray.p-lg-0.p-sm-3
									.panel-header.p-1.hidden.visible-sm.visible-xs
										.text-muted.mb-sm-1 08/02/2018  |  by Smogey
									a(href="#").blog-img.blog-img-right-top
										img(src='assets/img/blog/blog-04.jpg')
							.col-md-6.col-md-pull-6.col-sm-12.bg-gray
								.panel.py-md-3.pb-sm-3
									.panel-header.p-0.hidden-sm.hidden-xs
										.text-muted.mb-sm-1 08/02/2018  |  by Smogey
									.panel-body.p-0.text-left
										h3.text-uppercase.mt-0 BIO ET VRAC, LA CONSOMMATION SELON LILI BULK
										p.blog-text
											| Lili Bulk, encore une autre épicerie en ligne 100 % bio ? Certes oui, mais elle est unique en son genre, car là où elle se démarque de ses paires, c’est au niveau des emballages. Privilégiant le zéro déchet, la startup livre ses produits en vrac dans des bocaux consignés...
										p.blog-text.pt-3
											a.btn.btn-primary(href='#')
												span Life

					.row.mb-lg-6
						.blog.col-md-6.col-xs-12.mb-3
							.panel.bg-dark.text-white
								img.panel-img(src='assets/img/blog/blog-02.jpg', alt='panel image')
								.panel-img-overlay.ov-primary
									.panel-header
										.text-white 08/02/2018  |  by Smogey
									.panel-footer
										h3.text-uppercase.text-left.mt-0 LE COMPOSTAGE POUR LES PERSONNES EN APPARTEMENT
										p.panel-text.text-left Transformer nos déchets culinaires en un engrais 100 % naturel
									a(href="#").btn-overlay
										span Life
						.blog.col-md-6.col-xs-12.mb-3
							.panel.bg-dark.text-white
								img.panel-img(src='assets/img/blog/blog-03.jpg', alt='panel image')
								.panel-img-overlay.ov-success
									.panel-header
										.text-white 08/02/2018  |  by Smogey
									.panel-footer
										h3.text-uppercase ZÉRO DÉCHET : ÊTES-VOUS PRÊT À RELEVER LE DÉFI?
										p.panel-text La consommation est synonyme de déchets...Comment les éviter?
									a(href="#").btn-overlay
										span Life

					.row.mb-3.blog
						.col-xs-12
							.col-md-6.col-sm-12.pr-lg-0.pl-lg-5.p-sm-0
								.panel.bg-gray.p-lg-0.p-sm-3
									.panel-header.p-1.hidden.visible-sm.visible-xs
										.text-muted.mb-sm-1 08/02/2018  |  by Smogey
									a(href="#").blog-img.blog-img-left-top
										img(src='assets/img/blog/blog-01.jpg')
							.col-md-6.col-sm-12.bg-gray
								.panel.py-md-3.pb-sm-3
									.panel-header.p-0.hidden-sm.hidden-xs
										.text-muted.mb-sm-1 08/02/2018  |  by Smogey
									.panel-body.p-0.text-left
										h3.text-uppercase.mt-0 BIO ET VRAC, LA CONSOMMATION SELON LILI BULK
										p.blog-text
											| Lili Bulk, encore une autre épicerie en ligne 100 % bio ? Certes oui, mais elle est unique en son genre, car là où elle se démarque de ses paires, c’est au niveau des emballages. Privilégiant le zéro déchet, la startup livre ses produits en vrac dans des bocaux consignés...
										p.blog-text.pt-3
											a.btn.btn-primary(href='#')
												span Life
					.row
						.col-md-12.text-center
							ul.pagination
								li
									a(href='#') «
								li
									a(href='#') 1
								li
									a(href='#') 2
								li
									a(href='#') 3
								li
									a(href='#') 4
								li
									a(href='#') 5
								li
									a(href='#') »







