<!DOCTYPE html>
html(lang="en")
    include global/head
    +head('Smogey Calendar')

    include mixin/all-mixin
    body.homepage
        .wrapper
            .header-template
                img(src="/assets/img/global/header.jpg")
            section.main
                .container
                    article
                        .calendar
                            .container-fluid
                                .row.mb-20
                                    .col-md-12.px-0
                                        .d-flex.bg-warning.p-2.justify-content-between.align-items-center
                                            h5.text-white.mb-0 L'agenda des initiatives dans votre commune
                                            .btn-group
                                                .btn.btn-outline-warning(role="button") Retour
                                .row
                                    #calendar.calendar
                                        header.calendar-header
                                            .calendar-title.p-2.bg-success.text-white
                                                h4.mb-0.text-center January 2018
                                            .row.d-none.d-sm-flex.px-2.pt-2.mx-0
                                                h5.col-sm.mb-0.pl-2 Su
                                                h5.col-sm.mb-0.pl-2 Mo
                                                h5.col-sm.mb-0.pl-2 Tu
                                                h5.col-sm.mb-0.pl-2 We
                                                h5.col-sm.mb-0.pl-2 Th
                                                h5.col-sm.mb-0.pl-2 Fr
                                                h5.col-sm.mb-0.pl-2 Sa
                                        .row.mx-0.px-1
                                            .calendar-day.col-sm.p-2.border.d-none.d-sm-inline-block.text-muted
                                                h5.row.align-items-center
                                                    span.date.col-1 29
                                                    small.col.d-sm-none.text-center.text-muted Sunday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border.d-none.d-sm-inline-block.text-muted
                                                h5.row.align-items-center
                                                    span.date.col-1 30
                                                    small.col.d-sm-none.text-center.text-muted Monday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border.d-none.d-sm-inline-block.text-muted
                                                h5.row.align-items-center
                                                    span.date.col-1 31
                                                    small.col.d-sm-none.text-center.text-muted Tuesday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 1
                                                    small.col.d-sm-none.text-center.text-muted Wednesday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 2
                                                    small.col.d-sm-none.text-center.text-muted Thursday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 3
                                                    small.col.d-sm-none.text-center.text-muted Friday
                                                    span.col-1
                                                .calendar-events
                                                    a.event.btn-danger
                                                        +calendar-tooltip
                                                    a.event.bg-success
                                                        +calendar-tooltip
                                                    a.event.bg-warning
                                                        +calendar-tooltip
                                                    a.event.bg-pink
                                                        +calendar-tooltip
                                                    a.event.bg-info
                                                        +calendar-tooltip
                                                    a.event.bg-secondary
                                                        +calendar-tooltip
                                                    a.event.bg-pink-dark
                                                        +calendar-tooltip
                                                    a.event.bg-danger
                                                        +calendar-tooltip


                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 4
                                                    small.col.d-sm-none.text-center.text-muted Saturday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .w-100
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 5
                                                    small.col.d-sm-none.text-center.text-muted Sunday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 6
                                                    small.col.d-sm-none.text-center.text-muted Monday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 7
                                                    small.col.d-sm-none.text-center.text-muted Tuesday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 8
                                                    small.col.d-sm-none.text-center.text-muted Wednesday
                                                    span.col-1
                                                .calendar-events
                                                    a.event.bg-success(title="event 8.01")
                                                        +calendar-tooltip
                                                    a.event.bg-danger(title="event 8.02")
                                                        +calendar-tooltip
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 9
                                                    small.col.d-sm-none.text-center.text-muted Thursday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 10
                                                    small.col.d-sm-none.text-center.text-muted Friday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 11
                                                    small.col.d-sm-none.text-center.text-muted Saturday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .w-100
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 12
                                                    small.col.d-sm-none.text-center.text-muted Sunday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 13
                                                    small.col.d-sm-none.text-center.text-muted Monday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 14
                                                    small.col.d-sm-none.text-center.text-muted Tuesday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 15
                                                    small.col.d-sm-none.text-center.text-muted Wednesday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 16
                                                    small.col.d-sm-none.text-center.text-muted Thursday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 17
                                                    small.col.d-sm-none.text-center.text-muted Friday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 18
                                                    small.col.d-sm-none.text-center.text-muted Saturday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .w-100
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 19
                                                    small.col.d-sm-none.text-center.text-muted Sunday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 20
                                                    small.col.d-sm-none.text-center.text-muted Monday
                                                    span.col-1
                                                .calendar-events
                                                    a.event.bg-primary(title="event 20")
                                                        +calendar-tooltip
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 21
                                                    small.col.d-sm-none.text-center.text-muted Tuesday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 22
                                                    small.col.d-sm-none.text-center.text-muted Wednesday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 23
                                                    small.col.d-sm-none.text-center.text-muted Thursday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 24
                                                    small.col.d-sm-none.text-center.text-muted Friday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 25
                                                    small.col.d-sm-none.text-center.text-muted Saturday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .w-100
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 26
                                                    small.col.d-sm-none.text-center.text-muted Sunday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 27
                                                    small.col.d-sm-none.text-center.text-muted Monday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 28
                                                    small.col.d-sm-none.text-center.text-muted Tuesday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 29
                                                    small.col.d-sm-none.text-center.text-muted Wednesday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border
                                                h5.row.align-items-center
                                                    span.date.col-1 30
                                                    small.col.d-sm-none.text-center.text-muted Thursday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border.d-none.d-sm-inline-block.text-muted
                                                h5.row.align-items-center
                                                    span.date.col-1 1
                                                    small.col.d-sm-none.text-center.text-muted Friday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border.d-none.d-sm-inline-block.text-muted
                                                h5.row.align-items-center
                                                    span.date.col-1 2
                                                    small.col.d-sm-none.text-center.text-muted Saturday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .w-100
                                            .calendar-day.col-sm.p-2.border.d-none.d-sm-inline-block.text-muted
                                                h5.row.align-items-center
                                                    span.date.col-1 3
                                                    small.col.d-sm-none.text-center.text-muted Sunday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border.d-none.d-sm-inline-block.text-muted
                                                h5.row.align-items-center
                                                    span.date.col-1 4
                                                    small.col.d-sm-none.text-center.text-muted Monday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border.d-none.d-sm-inline-block.text-muted
                                                h5.row.align-items-center
                                                    span.date.col-1 5
                                                    small.col.d-sm-none.text-center.text-muted Tuesday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border.d-none.d-sm-inline-block.text-muted
                                                h5.row.align-items-center
                                                    span.date.col-1 6
                                                    small.col.d-sm-none.text-center.text-muted Wednesday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border.d-none.d-sm-inline-block.text-muted
                                                h5.row.align-items-center
                                                    span.date.col-1 7
                                                    small.col.d-sm-none.text-center.text-muted Thursday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border.d-none.d-sm-inline-block.text-muted
                                                h5.row.align-items-center
                                                    span.date.col-1 8
                                                    small.col.d-sm-none.text-center.text-muted Friday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events
                                            .calendar-day.col-sm.p-2.border.d-none.d-sm-inline-block.text-muted
                                                h5.row.align-items-center
                                                    span.date.col-1 9
                                                    small.col.d-sm-none.text-center.text-muted Saturday
                                                    span.col-1
                                                .calendar-events
                                                    p.d-sm-none No events


// Modal
#mapMarkerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='mapMarkerModalTitle', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header.bg-pink.text-white
                h5.modal-title Naturalia Tolbiac
                button.btn-close(type='button', data-dismiss='modal', aria-label='Close')
                    span.fa.fa-close.text-white(aria-hidden='true')
            .modal-body
                .d-flex.justify-content-between.mb-20
                    img(src='assets/img/map/map-modal-01.jpg')
                    img(src='assets/img/map/map-modal-02.jpg')
                p.mb-0
                    |Depuis quelques jours, la Ville de Tournai constate que des sacs poubelles d’ordures ménagères apparaissent à différents endroits de l’entité à des jours inappropriés alors que le calendrier de ramassage de ces poubelles n’a aucunement été modifié. Certains habitants confondent certainement les dates de ce ramassage avec l’enlèvement des PMC et des papiers réalisés par Fost Plus, dont certaines tournées ont récemment.
            .modal-footer.border-0.justify-content-start
                button.btn.btn-primary(type='button') En savoir plus




