<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'SPOTT'
	)
	include mixin/all-mixin
	body
		include global/header
		//- wrapper
		.wrapper
			include global/content
			include global/filter
			+scrollTop

		include global/footer
		+showSearchModal