<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'ZD'
	)
	include mixin/all-mixin
	body.homepage
		.wrapper
			section.main
				.container.py-3
					article.panel-list
						.container-fluid
							.row.mb-20
								.col-xs-12
									nav(aria-label='breadcrumb').bread
										ol.breadcrumb.mb-0
											li.breadcrumb-item
												a(href='#') Acceuil
											li.breadcrumb-item
												a(href='#') Initiatives sur Tournai
											li.breadcrumb-item.active(aria-current='page') L'agenda des initiatives dans votre commune
							.row.mb-20
								.col-xs-12
									.bg-warning.clearfix.py-2.px-3
										h4.d-inline-block.text-white.float-left Tool waste reducing ZD
										a.d-inline-block.btn.btn-outline-warning.float-right(href="index.html", role="button")
											span Acceuil
							.jumbotron.p-3
								.row
									.col-sm-2
										.d-block.mb-3
											a.btn.btn-primary.btn3d(href="#")
												| Sign Up
												i.fa.fa-chevron-right
										.d-block
											a.btn.btn-success.btn3d(href="#")
												| Login
												i.fa.fa-chevron-right
									.col-sm-10
										p.text-left L’outil ZD va vous aider dans la démarche de réduction de vos déchets. En effet, nous
											| sommes de plus en plus à être conscient de l’impact de l’homme sur la planète...Il faut
											| d’ailleur savoir que xxxxx tonnes de déchets se retrouve chaque année dans les océans…
							.row.mx-0.mb-20
								.col-sm-6.col-xs-12.px-1
									.panel.panel-primary.pt-4
										.panel-header
											h3.text-center Introduisez vos donnees
										.panel-body
											img(src='assets/img/initi/initi-01.png', alt='#')

								.col-sm-6.col-xs-12.px-1
									.panel.panel-success.pt-4
										.panel-header
											h3.text-center Suivez votre evolution
										.panel-body
											img(src='assets/img/initi/initi-02.png', alt='#')

								.col-sm-6.col-xs-12.px-1
									.panel.panel-pink.pt-4
										.panel-header
											h3.text-center Revecez des conseils adaptes
										.panel-body
											img(src='assets/img/initi/initi-03.png', alt='#')

								.col-sm-6.col-xs-12.px-1
									.panel.panel-warning.pt-4
										.panel-header
											h3.text-center Reduisez vos dechets
										.panel-body
											img(src='assets/img/initi/initi-01.png', alt='#')



