<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'Initiatives sur Tournai'
	)
	include mixin/all-mixin
	body.homepage
		.wrapper
			section.main
				.container
					article
						.panel-list
							.container-fluid.p-0
								.row.mx-0.mb-20
									.col-xs-4.px-1
										.panel.pt-4
											.panel-body.mb-5
												img(src='assets/img/initi/initi-01.png', alt='#')
											.panel-header
												h5.panel-title.text-center Mobilité
											.panel-footer
												button.btn.btn-pink.w-100.text-center(data-toggle="modal", data-target="#en-savoir-plus")
													span En savoir plus
									.col-xs-4.px-1
										.panel.pt-4
											.panel-body.mb-5
												img(src='assets/img/initi/initi-02.png', alt='#')
											.panel-header
												h5.panel-title.text-center Réduction des déchets
											.panel-footer
												button.btn.btn-success.w-100.text-center(data-toggle="modal", data-target="#en-savoir-plus")
													span En savoir plus
									.col-xs-4.px-1
										.panel.pt-4
											.panel-body.mb-5
												img(src='assets/img/initi/initi-03.png', alt='#')
											.panel-header
												h5.panel-title.text-center Economie locale
											.panel-footer
												button.btn.btn-warning.w-100.text-center(data-toggle="modal", data-target="#en-savoir-plus")
													span En savoir plus
								.row.mx-0.mb-20
									.col-xs-6.px-1
										a(href="#").btn.btn-primary.btn-block
											i.fa.fa-map-marker
											span.text-uppercase Voir toute les initiatives
									.col-xs-6.px-1
										a(href="#").btn.btn-pink-dark.btn-block
											i.fa.fa-user
											span.text-uppercase Trouver un ambassadeur
								.row.mx-0.mb-20
									.col-xs-12.px-1
										form(action='', method='post')#initiv-search.initiv-search
											input.form-control(type='text', size='60', placeholder="Rechercher une initiative sur Tournai")
											button.btn.btn-search(type='submit')
												i.fa.fa-search
								.row.mx-0.mb-20
									include global/slider
		#en-savoir-plus.modal.fade(role="dialog")
			.modal-dialog.modal-lg
				.modal-header.bg-pink.text-white
					h4.modal-title Je suis
					button.btn-close(type='button', data-dismiss='modal', aria-label='Close')
						span.fa.fa-close.text-white(aria-hidden='true')

				.modal-content.p-3
					.row
						.col-xs-6
							.panel
								.panel-body
									img(src='assets/img/initi/initi-modal-01.png', alt='#')
								.panel-footer
									button.btn.btn-success.w-100
										span.text-uppercase Entreprise
						.col-xs-6
							.panel
								.panel-body
									img(src='assets/img/initi/initi-modal-02.png', alt='#')
								.panel-footer
									button.btn.btn-warning.w-100
										span.text-uppercase Citoyen


