<!DOCTYPE html>
html(lang="en")
    include global/head
    +head('map')
    include mixin/all-mixin
    body.homepage
        .wrapper
            section.main
                .container
                    article
                        .map
                            .container-fluid.p-0
                                .row.row-eq-height.mb-40
                                    .col-md-4.col-sm-12
                                        form(action='', method='post')#initiv-search.initiv-search
                                            input.form-control(type='text', size='60', placeholder="Rechercher...")
                                            button.btn.btn-search(type='submit')
                                                i.fa.fa-search
                                        include global/map-sidebar
                                    .col-md-8.col-sm-12
                                        include global/map-content
        //// Modal
        #mapMarkerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='mapMarkerModalTitle', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header.bg-pink.text-white
                        h4.modal-title Naturalia Tolbiac
                        button.btn-close(type='button', data-dismiss='modal', aria-label='Close')
                            span.fa.fa-close.text-white(aria-hidden='true')
                    .modal-body
                        .row.mb-20
                            .col-sm-6.mb-3
                                img.w-100(src='assets/img/map/map-modal-01.jpg')
                            .col-sm-6.mb-3
                                img.w-100(src='assets/img/map/map-modal-03.jpg')
                        p.mb-0
                            | Depuis quelques jours, la Ville de Tournai constate que des sacs poubelles d’ordures ménagères apparaissent à différents endroits de l’entité à des jours inappropriés alors que le calendrier de ramassage de ces poubelles.
                    .modal-footer.border-0
                        button.btn.btn-primary(type='button') En savoir plus


        // Modal
        #plus-initiative.modal.fade(tabindex='-1', role='dialog', aria-labelledby='plus-initiativeTitle', aria-hidden='true')
            .modal-dialog(role='document')
                form.modal-content.plus-init-form
                    .modal-header.bg-pink.text-white
                        h4.modal-title Ajouter une initiative
                        button.btn-close(type='button', data-dismiss='modal', aria-label='Close')
                            span.fa.fa-close.text-white(aria-hidden='true')
                    .modal-body
                        .form-group
                            i.fa.fa-user
                            input.form-control(id="init-title", type='text', placeholder='Titre de la fiche')
                        .form-group
                            i.fa.fa-pencil-square-o
                            input.form-control(id="init-descr", type='text', placeholder='Description générale')
                        .form-group
                            i.fa.fa-folder
                            input.form-control(id="init-type", type='text', placeholder='Précisions')
                        .form-group
                            i.fa.fa-list-alt
                            input.form-control(name="daterange", value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM", type='text',
                            placeholder='Engagements citoyens ')
                        .form-group
                            i.fa.fa-map-marker
                            input.form-control(id="pac-input", type='text', name='keyword' placeholder='Adresse complète')
                            button.btn.btn-warning.text-white
                                i.fa.fa-location-arrow
                                | Localiser
                        .form-group
                            #map_modal(style='width:100%; height:300px')
                    .modal-footer.border-0
                        button.btn.btn-pink Ajouter
            script.
                $(function () {
                    $('input[name="daterange"]').daterangepicker({
                        timePicker: true,
                        timePickerIncrement: 30,
                        locale: {
                            format: 'MM/DD/YYYY h:mm A'
                        }
                    });
                });




