<!DOCTYPE html>
html(lang="en")
	include global/head
	+head('Initiatives sur Tournai')
	include mixin/all-mixin
	body.homepage
		.wrapper
			.header-template
				img(src="/assets/img/global/header.jpg")
			section.main
				.container
					article
						.map
							.container-fluid.p-0
								.row.mb-40
									.col-md-4.pl-0
										form(action='', method='post')#initiv-search.initiv-search
											input.form-control(type='text', size='60', placeholder="Rechercher...")
											button.btn.btn-search(type='submit')
												i.fa.fa-search
										include global/map-sidebar
									.col-md-8.pr-0
										include global/map-content
		script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBlUOnClH8ZslvDEPe79PI7sl1kI7J0f6Q&callback=initMap')





