<!DOCTYPE html>
html(lang="en")
    include global/head-map
    +head('map')
    include mixin/all-mixin
    body.homepage
        .wrapper
            section.main
                .container
                    article
                        .map
                            .container-fluid.p-0
                                .row.row-eq-height.mb-40
                                    .col-md-4.col-sm-12
                                        form(action='blog.html', method='post')#initiv-search.initiv-search
                                            input.form-control(type='text', size='60', placeholder="Rechercher...")
                                            button.btn.btn-search(type='submit')
                                                i.fa.fa-search
                                        include global/map-sidebar
                                    .col-md-8.col-sm-12
                                        include global/map-content
        //// Modal
        #mapMarkerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='mapMarkerModalTitle', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header.bg-pink.text-white
                        h4.modal-title Naturalia Tolbiac
                        button.btn-close(type='button', data-dismiss='modal', aria-label='Close')
                            span.fa.fa-close.text-white(aria-hidden='true')
                    .modal-body
                        .row
                            .col-sm-6.mb-sm-3
                                img.w-100.mb-3(src='assets/img/map/map-modal-01.jpg')
                                p.mb-0
                                    | Depuis quelques jours, la Ville de Tournai constate que des sacs poubelles d’ordures ménagères apparaissent à différents endroits de l’entité à des jours inappropriés alors que le calendrier de ramassage de ces poubelles.
                            .col-sm-6
                                #calendar-modal

                    .modal-footer.border-0
                        button.btn.btn-primary(type='button') En savoir plus


        // Modal
        #plus-initiative.modal.fade(tabindex='-1', role='dialog', aria-labelledby='plus-initiativeTitle', aria-hidden='true')
            .modal-dialog(role='document')
                form.modal-content.plus-init-form
                    .modal-header.bg-pink.text-white
                        h4.modal-title Ajouter une initiative
                        button.btn-close(type='button', data-dismiss='modal', aria-label='Close')
                            span.fa.fa-close.text-white(aria-hidden='true')
                    .modal-body
                        .form-group
                            i.fa.fa-user
                            input.form-control(id="init-title", type='text', placeholder='Titre de la fiche')
                        .form-group
                            i.fa.fa-pencil-square-o
                            input.form-control(id="init-descr", type='text', placeholder='Description générale')
                        .form-group
                            i.fa.fa-folder
                            input.form-control(id="init-type", type='text', placeholder='Précisions')
                        .form-group
                            i.fa.fa-map-marker
                            input.form-control(id="pac-input", type='text', name='keyword' placeholder='Adresse complète')
                            button.btn.btn-warning.text-white
                                i.fa.fa-location-arrow
                                | Localiser
                        .form-group
                            #map_modal(style='width:100%; height:300px')
                    .modal-footer.border-0
                        button.btn.btn-pink Ajouter

            script(src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js")
            script.
                $('#calendar-modal').fullCalendar({
                    header: {
                        left: 'prev',
                        center: 'title',
                        right: 'next'
                    },
                    defaultView: 'month',
                    displayEventTime: false,
                    eventLimit: true,
                    events: [],

                    select: function (start, end, jsEvent) {
                        closePopovers();
                        popoverElement = $(jsEvent.target);
                        $(jsEvent.target).popover({
                            title: 'the title',
                            content: function () {
                                return $("#popoverContent").html();
                            },
                            template: popTemplate,
                            //placement: 'auto',
                            placement: function (context, source) {
                                var position = $(source).position();
                                var content_width = document.getElementsByClassName('clientWidth').clientWidth;  //Can be found from a JS function for more dynamic output
                                var content_height = 110;  //Can be found from a JS function for more dynamic output
                                if (position.left > content_width) {
                                    return "left";
                                }
                                if (position.left < content_width) {
                                    return "right";
                                }
                                if (position.top < content_height) {
                                    return "bottom";
                                }
                                return "top";
                            },
                            html: 'true',
                            trigger: 'click',
                            animation: 'true',
                            container: 'body'

                        }).popover('show');
                    },

                    eventClick: function (calEvent, jsEvent, view) {
                        //closePopovers();
                        popoverElement = $(jsEvent.currentTarget);
                    },

                    eventRender: function (event, element) {
                        element.popover({
                            title: event.title,
                            content: function () {
                                return $("#popoverContent").html();
                            },
                            template: popTemplate,
                            //placement: 'auto',
                            placement: function (context, source) {
                                var position = $(source).position();
                                var content_width = document.getElementsByClassName('clientWidth').clientWidth;  //Can be found from a JS
                                // function for more dynamic output
                                var content_height = 110;  //Can be found from a JS function for more dynamic output

                                if (position.left > content_width) {
                                    return "left";
                                }

                                if (position.left < content_width) {
                                    return "right";
                                }
                                if (position.top < content_height) {
                                    return "bottom";
                                }

                                return "top";
                            },
                            html: 'true',
                            trigger: 'click',
                            animation: 'true',
                            container: 'body'
                        });

                    },
                    eventAfterAllRender: function () {
                        $('.fc-row.fc-week.fc-widget-content').attr('style', 'height: auto ');
                    }

                });


                var popoverElement;

                function closePopovers() {
                    $('.popover').not(this).popover('hide');
                }
                if ($('.modal[aria-hidden="true"]')) {
                    closePopovers();
                }

                $('body').on('click', function (e) {
                    // close the popover if: click outside of the popover || click on the close button of the popover
                    if (popoverElement && ((!popoverElement.is(e.target) && popoverElement.has(e.target).length === 0 && $('.popover').has(e.target).length === 0) || (popoverElement.has(e.target) && e.target.id === 'closepopover'))) {

                        ///$('.popover').popover('hide'); --> works
                        closePopovers();
                    }
                });




