<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'Initiatives sur Tournai'
	)
	include mixin/all-mixin
	body.homepage
		.wrapper
			section.main
				.container
					article
						.panel-list
							.container-fluid
								.row.mb-20
									.row.mb-20
										.col-xs-12
											nav(aria-label='breadcrumb').bread
												ol.breadcrumb.mb-0
													li.breadcrumb-item
														a(href='#') Acceuil
													li.breadcrumb-item.active(aria-current='page') Le blog du développement durable
									.col-md-12.px-0
										.clearfix.bg-success.p-2
											h4.d-inline-block.text-white.float-left Réduction des déchets
											a.d-inline-block.btn.btn-outline-success.float-right(href="index.html", role="button")
												span Retour
								.row.p-0.mb-20
									.col-md-6.col-xs-12.pl-lg-0.px-sm-0.mb-3
										.panel.pt-5
											.panel-body.mb-3
												img(src='assets/img/reduction/red-01.png', alt='#')
											.panel-header
												h5.panel-title.text-center La carte des initiatives
											.panel-footer
												a.btn.btn-primary.w-75.btn-block.m-auto(href="map.html")
													span.text-uppercase En savoir plus
									.col-md-6.col-xs-12.pr-lg-0.px-sm-0
										.panel.pt-5
											.panel-body.mb-3
												img(src='assets/img/reduction/red-02.png', alt='#')
											.panel-header
												h5.panel-title.text-center La carte des initiatives
											.panel-footer
												a.btn.btn-warning.w-75.btn-block.m-auto(href="calendar.html")
													span.text-uppercase En savoir plus
								.row.p-0.mb-xs-20
									.col-md-6.pl-lg-0.px-sm-0
										a(href="blog.html").btn.btn-pink.btn-block
											i.fa.fa-trash
											span.no-upercouse En savoir plus sur la réduction des déchets
									.col-md-6.pr-lg-0.px-sm-0
										.quote
											i.fa.fa-quote-left.text-success
											span.text-dark
												| Le déchet le plus facile à éliminer est celui que l'on
												| ne produit pas.
								.row
									.col-md-12.px-0
										include global/slider-brands
