<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'Initiatives sur Tournai'
	)
	include mixin/all-mixin
	body.homepage
		.wrapper
			.header-template
				img(src="/assets/img/global/header.jpg")
			section.main
				.container
					article
						.panel-list
							.container-fluid.p-0
								.row.mb-20
									.col-md-12.px-0
										.clearfix.bg-success.p-3
											h4.d-inline-block.text-white.float-left Réduction des déchets
											.d-inline-block.btn.btn-outline-success.float-right(role="button") Retour
								.row.p-0.mb-20
									.col-md-6.col-xs-12.pl-md-0.mb-3
										.panel.pt-5
											.panel-body.mb-3
												img(src='assets/img/reduction/red-01.png', alt='#')
											.panel-header
												h5.panel-title.text-center La carte des initiatives
											.panel-footer
												button.btn.btn-primary.w-50.btn-block.m-auto(data-toggle="modal",
												data-target="#en-savoir-plus")
													span.text-uppercase En savoir plus
									.col-md-6.col-xs-12.pr-md-0
										.panel.pt-5
											.panel-body.mb-3
												img(src='assets/img/reduction/red-02.png', alt='#')
											.panel-header
												h5.panel-title.text-center La carte des initiatives
											.panel-footer
												button.btn.btn-warning.w-50.btn-block.m-auto(data-toggle="modal",
												data-target="#en-savoir-plus")
													span.text-uppercase En savoir plus
								.row.p-0.mb-xs-20
									.col-md-6.pl-md-0
										a(href="#").btn.btn-pink.btn-block
											i.fa.fa-trash
											span.no-upercouse En savoir plus sur la réduction des déchets
									.col-md-6.pr-md-0
										.quote
											i.fa.fa-quote-left.text-success
											span.text-dark
												| Le déchet le plus facile à éliminer est celui que l'on
												| ne produit pas.
								.row
									.col-md-12.px-0
										include global/slider-brands
