<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'Initiatives sur Tournai'
	)
	include mixin/all-mixin
	body.homepage
		.wrapper
			.header-template
				img(src="/assets/img/global/header.jpg")
			section.main
				.container
					article
						.card-list
							.container-fluid.p-0
								.row.mb-20
									.col-md-12.px-0
										.d-flex.bg-success.p-2.justify-content-between.align-items-center
											h5.text-white.mb-0 Réduction des déchets
											.btn.btn-outline-success(role="button") Retour
								.row.p-0.mb-20
									.col-md-6.pl-0
										.card
											.card-body
												img(src='assets/img/reduction/red-01.png', alt='#')
											.card-header
												h5.card-title.text-center La carte des initiatives
											.card-footer
												button.btn.btn-primary.w-50(data-toggle="modal", data-target="#en-savoir-plus")
													| En savoir plus
									.col-md-6.pr-0
										.card
											.card-body
												img(src='assets/img/reduction/red-02.png', alt='#')
											.card-header
												h5.card-title.text-center La carte des initiatives
											.card-footer
												button.btn.btn-warning.w-50(data-toggle="modal", data-target="#en-savoir-plus")
													| En savoir plus
								.row.p-0.mb-20
									.col-md-6.pl-0
										a(href="#").btn.btn-pink.btn-block
											i.fa.fa-trash
											span.no-upercouse
												| En savoir plus sur la réduction des déchets
									.col-md-6.pr-0
										.quote
											i.fa.fa-quote-left.text-success
											span.text-dark
												| Le déchet le plus facile à éliminer est celui que l'on
												| ne produit pas.