ul#categories.categories
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
