ul#categories.categories
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            img(src="assets/img/category/category-01.jpg")
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            img(src="assets/img/category/category-01.jpg")
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            img(src="assets/img/category/category-01.jpg")
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            img(src="assets/img/category/category-01.jpg")
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            img(src="assets/img/category/category-01.jpg")
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            img(src="assets/img/category/category-01.jpg")
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            img(src="assets/img/category/category-01.jpg")
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            img(src="assets/img/category/category-01.jpg")
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            img(src="assets/img/category/category-01.jpg")
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            img(src="assets/img/category/category-01.jpg")
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            img(src="assets/img/category/category-01.jpg")
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            img(src="assets/img/category/category-01.jpg")
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            img(src="assets/img/category/category-01.jpg")
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            img(src="assets/img/category/category-01.jpg")
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            img(src="assets/img/category/category-01.jpg")
    li.categories-item
        a(href="#").categories-link
            span Espadrilles
            img(src="assets/img/category/category-01.jpg")

