section#content-wrapper.celebrity
    .container-fluid
        .row
            .col-12
                h1.celebrity-title Melania Trumps Wearing Sunglasses
                #summary-text
                    p#collapseSummary.collapse.celebrity-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore etdomagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    a.collapsed(data-toggle='collapse', href='#collapseSummary', aria-expanded='false', aria-controls='collapseSummary')

            .col-12
                h4 Other celebrities wearing sunglasses:
                +celebrities('12')