mixin head(title)
	head
		meta(charset="utf-8")
		title= title
		meta(name="keywords" content="keywords")
		meta(name="description" content="description")
		//favicon
		//-mixin
		mixin favicon(rel, sizes, href, type)
			link(rel= rel, sizes= sizes, href= href, type= type)
		//viewport
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
		//- meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//styles
		link(rel="stylesheet" type="text/css" href="assets/css/app.min.css")
		//link(href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.css', rel='stylesheet')

		script(src="https://code.jquery.com/jquery-1.10.0.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js')
		//script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js')

		// Include Date Range Picker
		script(type='text/javascript', src='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')
		link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css')

		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBcnL4h84dY1OeZV5yOV94LgZzRHjO8Wvw&libraries=places')
		script(src="assets/js/bundle.js")


