//header
header.header.align-items-center
	.container-fluid
		.row
			.col-12
				nav.navbar.navbar-header.navbar-expand-md
					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarMenu', aria-controls='navbarMenu',
					aria-expanded='false', aria-label='Toggle navigation')
						+icon('menu')
					a(href="/").navbar-brand spott
					form.navbar-form.mobile-hide
						.icon-box
							+icon('search')
						input.form-control(placeholder='Search for movies, tv shows, brands or people', value='')
						button.btn-search(type='submit')
					+mobile-search
					a(href="#").btn.btn-primary Sign in
		.row.collapse.navbar-collapse
			.col-10
				ul#navbarMenu.navbar-nav.navbar-expand-md
					+nav-link('#','Summer')
					+nav-link('#','Formal')
					+nav-link('#','Casual')
					+nav-link('#','Chill')
					+nav-link('#','Activewear')
					+nav-link('#','Bags')
					+nav-link('#','Fun')
					+nav-link('#','Sexy')
					+nav-link('#','Jacket Accessories')
					+nav-link('#','Sign in', 'sign')
					+nav-link('#','Terms', 'border-top')
					+nav-link('#','Privacy')
			.col-2
				+socials

