.map-content
    .btn.btn-warning(role="button") Retour
    button.btn.btn-pink(type="button" data-toggle="modal" data-target="#plus-initiative" )
        i.fa.fa-plus-circle
        | Ajouter une initiative
    #map(style='width: 100%; height: 600px;')



