.map-content
    .btn.btn-warning(role="button") Retour
    .btn.btn-pink(role="button")
        i.fa.fa-plus-circle
        | Ajouter une initiative
    fieldset#form
        p
            input#Dial-a-Ride.checkbox(name='Dial-a-Ride', type='checkbox', value='Dial-a-Ride')
            label(for='Dial-a-Ride') Dial-a-Ride
        p
            input.checkbox(id='American Legion', name='American Legion', type='checkbox', value='American Legion')
            label(for='American Legion') American Legion
        p
            input.checkbox(id='Veterans of Foreign Wars', name='Veterans of Foreign Wars', type='checkbox', value='Veterans of Foreign Wars')
            label(for='Veterans of Foreign Wars') Veterans of Foreign Wars
        p
            input#Nutrition.checkbox(name='Nutrition', type='checkbox', value='Nutrition')
            label(for='Nutrition') Nutrition
    #map(style='width: 100%; height: 600px;')



