.map-filter.mt-3.bg-gray
    ul.nav.nav-tabs.nav-tabs--vertical.nav-tabs--left(role='navigation')
        li.nav-item
            a.nav-link(href='#map-tab-1', data-toggle='tab', role='tab', aria-controls='map-tab-1')
                .map-filter-btn.map-filter-btn-1
        li.nav-item
            a.nav-link(href='#map-tab-2', data-toggle='tab', role='tab', aria-controls='map-tab-2')
                .map-filter-btn.map-filter-btn-2
        li.nav-item
            a.nav-link(href='#map-tab-3', data-toggle='tab', role='tab', aria-controls='map-tab-3')
                .map-filter-btn.map-filter-btn-3
        li.nav-item
            a.nav-link(href='#map-tab-4', data-toggle='tab', role='tab', aria-controls='map-tab-4')
                .map-filter-btn.map-filter-btn-4
    .tab-content
        #map-tab-1.tab-pane.fade(role='tabpanel')
            .tab-pane-header
                h4.tab-pane-title Waste reducing
            form#form.list-group(action="blog.html")
                fieldset
                    .form-group
                        img.map-pin(src='assets/img/map/Bebat-pile-pin.png')
                        label(for='Magasin-vrac').text-left title
                        input#Magasin-vrac.checkbox(name='Magasin-vrac', type='checkbox', value='Magasin-vrac')
                    .form-group
                        img.map-pin(src='assets/img/map/Bulle-a-verre-pin.png')
                        label(for='Producteurs-locaux') title
                        input.checkbox(id='Producteurs-locaux', name='Producteurs-locaux', type='checkbox', value='Producteurs-locaux')
                    .form-group
                        img.map-pin(src='assets/img/map/Bulle-a-vetement-pin.png')
                        label(for='Potager collectif') title
                        input.checkbox(id='Potager collectif', name='Potager collectif', type='checkbox', value='Potager collectif')
        #map-tab-2.tab-pane.fade(role='tabpanel')
            .tab-pane-header
                h4.tab-pane-title REDUCTION DES DECHETS
            form#form.list-group(action="blog.html")
                fieldset
                    .form-group
                        img.map-pin(src='assets/img/map/Bebat-pile-pin.png')
                        label(for='Magasin-vrac').text-left title
                        input#Magasin-vrac.checkbox(name='Magasin-vrac', type='checkbox', value='Magasin-vrac')
                    .form-group
                        img.map-pin(src='assets/img/map/Bulle-a-verre-pin.png')
                        label(for='Producteurs-locaux') title
                        input.checkbox(id='Producteurs-locaux', name='Producteurs-locaux', type='checkbox', value='Producteurs-locaux')
                    .form-group
                        img.map-pin(src='assets/img/map/Bulle-a-vetement-pin.png')
                        label(for='Potager collectif') title
                        input.checkbox(id='Potager collectif', name='Potager collectif', type='checkbox', value='Potager collectif')
                    .form-group
                        img.map-pin(src='assets/img/map/12-second-hand-pin.png')
                        label(for='Seconde main') title
                        input.checkbox(id='Seconde main', name='Seconde main', type='checkbox', value='Seconde main')
                    .form-group
                        img.map-pin(src='assets/img/map/13-local-producer-pin.png')
                        label(for='GAC') title
                        input.checkbox(id="GAC", name='GAC', type='checkbox', value='GAC')

        #map-tab-3.tab-pane.fade(role='tabpanel')
            .tab-pane-header
                h4.tab-pane-title Economie locale
            form#form.list-group(action="blog.html")
                fieldset
                    .form-group
                        img.map-pin(src='assets/img/map/Magasin-vrac-pin.png')
                        label(for='Magasin-vrac').text-left Magasin vrac
                        input#Magasin-vrac.checkbox(name='Magasin-vrac', type='checkbox', value='Magasin-vrac')
                    .form-group
                        img.map-pin(src='assets/img/map/local-producer-pin.png')
                        label(for='Producteurs-locaux') Producteurs-locaux
                        input.checkbox(id='Producteurs-locaux', name='Producteurs-locaux', type='checkbox', value='Producteurs-locaux')
                    .form-group
                        img.map-pin(src='assets/img/map/13-local-producer-2-pin.png')
                        label(for='Potager collectif') Potager collectif
                        input.checkbox(id='Potager collectif', name='Potager collectif', type='checkbox', value='Potager collectif')
                    .form-group
                        img.map-pin(src='assets/img/map/12-second-hand-pin.png')
                        label(for='Seconde main') Seconde main
                        input.checkbox(id='Seconde main', name='Seconde main', type='checkbox', value='Seconde main')
                    .form-group
                        img.map-pin(src='assets/img/map/13-local-producer-pin.png')
                        label(for='GAC') GAC
                        input.checkbox(id="GAC", name='GAC', type='checkbox', value='GAC')

        #map-tab-4.tab-pane.fade(role='tabpanel')
            .tab-pane-header
                h4.tab-pane-title Dolor
            form#form.list-group(action="blog.html")
                fieldset
                    .form-group
                        img.map-pin(src='assets/img/map/Bebat-pile-pin.png')
                        label(for='Magasin-vrac').text-left title
                        input#Magasin-vrac.checkbox(name='Magasin-vrac', type='checkbox', value='Magasin-vrac')
                    .form-group
                        img.map-pin(src='assets/img/map/Bulle-a-verre-pin.png')
                        label(for='Producteurs-locaux') title
                        input.checkbox(id='Producteurs-locaux', name='Producteurs-locaux', type='checkbox', value='Producteurs-locaux')
                    .form-group
                        img.map-pin(src='assets/img/map/Bulle-a-vetement-pin.png')
                        label(for='Potager collectif') title
                        input.checkbox(id='Potager collectif', name='Potager collectif', type='checkbox', value='Potager collectif')
                    .form-group
                        img.map-pin(src='assets/img/map/12-second-hand-pin.png')
                        label(for='Seconde main') title
                        input.checkbox(id='Seconde main', name='Seconde main', type='checkbox', value='Seconde main')
                    .form-group
                        img.map-pin(src='assets/img/map/13-local-producer-pin.png')
                        label(for='GAC') title
                        input.checkbox(id="GAC", name='GAC', type='checkbox', value='GAC')
