ul.patterns
    li.patterns-item
        a.patterns-link(href='#') Burnout
    li.patterns-item
        a.patterns-link(href='#') Camourflage
    li.patterns-item
        a.patterns-link(href='#') Burnout
    li.patterns-item
        a.patterns-link(href='#') Camourflage
    li.patterns-item
        a.patterns-link(href='#') Burnout
    li.patterns-item
        a.patterns-link(href='#') Camourflage
    li.patterns-item
        a.patterns-link(href='#') Camourflage
    li.patterns-item
        a.patterns-link(href='#') Burnout
    li.patterns-item
        a.patterns-link(href='#') Camourflage