.sidebar-content
    .sidebar-content-title
        h3 Please Select Filter
    .filterSidebar
        .card
            .card-header.pb-0
                h5
                    | Melania Trump is also wearing:
            .card-body.pt-0
                include materials
        .card.mb-3
            .card-header.py-0
                h5
                    | Other celebrities wearing sunglasses

            .card-body.py-0
                    .navbar-form.mb-3
                        .icon-box
                            +icon('search')
                        input.form-control(placeholder='Search celebrity', value='')
                    .celebrity-list.m-0
                        a.celebrity-item(href="#")
                            .img-round
                                img(src="assets/img/celebrity/celebrity-01.jpg")
                            .celebriry-name John Doe
                        a.celebrity-item(href="#")
                            .img-round
                                img(src="assets/img/celebrity/celebrity-01.jpg")
                            .celebriry-name John Doe
                        a.celebrity-item(href="#")
                            .img-round
                                img(src="assets/img/celebrity/celebrity-01.jpg")
                            .celebriry-name John Doe
                        a.celebrity-item(href="#")
                            .img-round
                                img(src="assets/img/celebrity/celebrity-01.jpg")
                            .celebriry-name John Doe
                        a.celebrity-item(href="#")
                            .img-round
                                img(src="assets/img/celebrity/celebrity-01.jpg")
                            .celebriry-name John Doe
                        a.celebrity-item(href="#")
                            .img-round
                                img(src="assets/img/celebrity/celebrity-01.jpg")
                            .celebriry-name John Doe
                        a.celebrity-item(href="#")
                            .img-round
                                img(src="assets/img/celebrity/celebrity-01.jpg")
                            .celebriry-name John Doe
                        a.celebrity-item(href="#")
                            .img-round
                                img(src="assets/img/celebrity/celebrity-01.jpg")
                            .celebriry-name John Doe
                        a.celebrity-item(href="#")
                            .img-round
                                img(src="assets/img/celebrity/celebrity-01.jpg")
                            .celebriry-name John Doe
                        a.celebrity-item(href="#")
                            .img-round
                                img(src="assets/img/celebrity/celebrity-01.jpg")
                            .celebriry-name John Doe
                        a.celebrity-item(href="#")
                            .img-round
                                img(src="assets/img/celebrity/celebrity-01.jpg")
                            .celebriry-name John Doe
                        a.celebrity-item(href="#")
                            .img-round
                                img(src="assets/img/celebrity/celebrity-01.jpg")
                            .celebriry-name John Doe

        .filter-sbm
            a.btn.btn-outline-primary(href="#") Aplly Filters

    +filterShow