aside.left
    .moduletable.eid
        .custom.eid
            p
                a(href='#')
                    img(src='https://www.tournai.be/images/template/documents.png', alt='documents')
    .moduletable.un_clic
        .custom.un_clic
            p
                a.fancybox(href='#')
                    img(src='https://www.tournai.be/images/template/1Clic.png', alt='1Clic')
    .moduletable.mobile
        ul.menu_mobile
            li.item-651
                a.modal(href='#') En un clic
            li.item-652
                a(href='#') .Be id documents
    .moduletable.eid.guichet
        .custom.eid.guichet
            p
                a(href='#')
                    img(src='https://www.tournai.be/images/template/info-travaux.png', alt='info travaux')
    .moduletable.un_clic.maison
        .custom.un_clic.maison
            p
                a(href='#')
                    img(src='https://www.tournai.be/images/template/maisons_associations.png', alt='maisons_associations')
    .moduletable.adv.left.travaux
        .travaux_title
            a.ellipsis(href='#') Numéro "unique"
        .travaux_readmore
            a.readon(href='#')
                span Flash info
    .moduletable
        .moduletable.tabs2.menu0
            h3.tabs2.active
                span.separator.ellipsis Je souhaite ...
            h3.tabs2
                span.separator.ellipsis Je suis ...
            ul.latestnews.tabs2.menu0
                li
                    a.ellipsis(href='#') Obtenir une carte de stationnement
                li
                    a.ellipsis(href='#') Organiser le don de mes organes
                li
                    a.ellipsis(href='#') Organiser un événement
                li
                    a.ellipsis(href='#') Interpeller le Collège communal
                li
                    a.ellipsis(href='#') Acheter/recevoir mes sacs-poubelle
                li
                    a.ellipsis(href='#') Lutter contre les tags
                li
                    a.ellipsis(href='#') Ouvrir un hébergement touristique
        .moduletable.tabs2.menu1
            ul.latestnews.tabs2.menu1
                li
                    a.ellipsis(href='#') Un artiste
                li
                    a.ellipsis(href='#') un investisseur
                li
                    a.ellipsis(href='#') un jeune, un étudiant
                li
                    a.ellipsis(href='#') une personne handicapée
                li
                    a.ellipsis(href='#') Un sénior
                li
                    a.ellipsis(href='#') un sportif
