.col-md-12.px-0
    .brands-slider
        img(src="assets/img/reduction/red-slide-01.png")
        img(src="assets/img/reduction/red-slide-02.png")
        img(src="assets/img/reduction/red-slide-03.png")
        img(src="assets/img/reduction/red-slide-04.png")
        img(src="assets/img/reduction/red-slide-01.png")
        img(src="assets/img/reduction/red-slide-02.png")
        img(src="assets/img/reduction/red-slide-01.png")
        img(src="assets/img/reduction/red-slide-02.png")
        img(src="assets/img/reduction/red-slide-03.png")
        img(src="assets/img/reduction/red-slide-04.png")