.col-xs-12.px-0
    ul.new-slider
        li
            a(href="#")
                img(src="assets/img/initi/slider-01.jpg")
                h3.new-slider__title Toute l’actualité & l’agenda des initiatives vertes de
        li
            a(href="#")
                img(src="assets/img/initi/slider-01.jpg")
                h3.new-slider__title Toute l’actualité & l’agenda des initiatives vertes de
        li
            a(href="#")
                img(src="assets/img/initi/slider-01.jpg")
                h3.new-slider__title Toute l’actualité & l’agenda des initiatives vertes de
.col-xs-6.p-0.pr-1
    a(href="#").btn.btn-primary.btn-block
        span.text-uppercase Toutes les actualités...
.col-xs-6.p-0.pl-1
    a(href="#").btn.btn-primary.btn-block
        span.text-uppercase Tous les événements...