.col-xs-12.px-0
    ul.new-slider
        li
            a(href="blog-article-01.html")
                img(src="assets/img/initi/slider-01.jpg")
                h3.new-slider__title Toute l’actualité & l’agenda des initiatives vertes de
        li
            a(href="blog-article-01.html")
                img(src="assets/img/initi/slider-01.jpg")
                h3.new-slider__title Toute l’actualité & l’agenda des initiatives vertes de
        li
            a(href="blog-article-01.html")
                img(src="assets/img/initi/slider-01.jpg")
                h3.new-slider__title Toute l’actualité & l’agenda des initiatives vertes de
.col-sm-6.col-xs-12.p-0.pr-md-1
    a(href="calendar.html").btn.btn-primary.btn-block
        span.text-uppercase Toutes les actualités...
.col-sm-6.col-xs-12.p-0.pl-md-1
    a(href="calendar.html").btn.btn-primary.btn-block
        span.text-uppercase Tous les événements...