ul.style
    li.style-item
        a(href="#").style-link
            span Casual
            img(src="assets/img/style/style-01.jpg")
    li.style-item
        a(href="#").style-link
            span Elegant
            img(src="assets/img/style/style-01.jpg")
    li.style-item
        a(href="#").style-link
            span Bihemian
            img(src="assets/img/style/style-01.jpg")
    li.style-item
        a(href="#").style-link
            span 50s
            img(src="assets/img/style/style-01.jpg")
